<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="kakao_friends_shop" />
  <meta name="Description" content="cloning webpage for portfolio" />
  <meta name="Robots" content="noindex,nofollow" />

  <link rel="icon" href="/public/kakao_favicon.ico" />
  <link rel="stylesheet" href="../../assets/style/css/header.css" />
  <link rel="stylesheet" href="../../assets/style/css/footer.css" />
  <link rel="stylesheet" href="../../assets/style/css/point.css" />
  <link rel="stylesheet" href="../../assets/style/css/home.css" />
  <title>카카오 프렌즈샵</title>
</head>

<body>
  <div class="mobile">
    <div id="skip-navigation">
      <ul>
        <li><a href="#content-box">본문 바로가기</a></li>
        <li><a href="#main-gnb">메인 메뉴 바로가기</a></li>
      </ul>
    </div>

    <h1 class="logo">
      <a href="../../index.html">
        <img src="../../assets/img/header/logo.png" alt="KAKAO FRIENDS" />
      </a>
    </h1>

    <header class="header">
      <h1 class="offscreen">페이지 네비게이션</h1>
      <div class="header__inner">
        <nav class="header__menu" id="main-gnb">
          <h1 class="offscreen">글로벌 메뉴</h1>
          <div class="header__left">
            <span class="offscreen">메뉴 왼쪽</span>
            <ul>
              <li class="main">
                <a href="javascript:void(0);" class="banner-btn" role="button">
                  <img src="../../assets/img/header/home.png" alt="홈 아이콘" />
                </a>
                <section class="home">
                  <h1 class="offscreen">사이드 메뉴</h1>
                  <div class="header">
                    <section class="header__inner">
                      <h1 class="offscreen">로그인</h1>
                      <section class="header-login">
                        <h1 class="offscreen">회원,비회원 로그인</h1>
                        <a href="../login/gate.html" class="login">
                          <span>로그인</span>이 필요해요!
                        </a>
                        <a href="../blank.html">
                          <span class="header-login__txt">비회원 주문조회 &#10095;</span>
                        </a>
                      </section>
                      <section class="header-gnb">
                        <h1 class="offscreen">유저의 상품정보</h1>
                        <ul>
                          <li><a href="../product/cart.html">장바구니</a></li>
                          <li><a href="../blank.html">찜</a></li>
                          <li><a href="../blank.html">주문배송</a></li>
                          <li>
                            <a href="../login/logAccount.html">마이페이지</a>
                          </li>
                        </ul>
                      </section>
                      <button type="button" class="header__btn btn--close">
                        <span class="offscreen">화면종료</span>
                      </button>
                    </section>
                  </div>
                  <div class="contents">
                    <section class="contents__inner">
                      <h1 class="offscreen">상품 카테고리</h1>
                      <div class="contents__ad">
                        <a href="../blank.html">
                          <div class="thumnail">
                            <img src="../../assets/img/pages/home/login__ad.png" alt="@카카오프렌즈 랑 플러스친구하기" />
                          </div>
                        </a>
                      </div>
                      <div class="contents__category">
                        <ul>
                          <li><a href="../blank.html">전체</a></li>
                          <li><a href="../blank.html">테마기획전</a></li>
                          <li><a href="../blank.html">토이</a></li>
                          <li><a href="../blank.html">리빙</a></li>
                          <li><a href="../blank.html">잡화</a></li>
                          <li><a href="../blank.html">문구</a></li>
                          <li><a href="../blank.html">의류</a></li>
                          <li><a href="../blank.html">파자마</a></li>
                          <li><a href="../blank.html">여행/레져</a></li>
                          <li><a href="../blank.html">생활테크</a></li>
                          <li><a href="../blank.html">폰 액세서리</a></li>
                          <li><a href="../blank.html">식품</a></li>
                        </ul>
                      </div>
                      <div class="contents__brand">
                        <ul>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/ryan.png" alt="카카오캐릭터, 라이언" />
                              </div>
                              <span>라이언</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/appeach.png" alt="카카오캐릭터, 어피치" />
                              </div>
                              <span>어피치</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/muzi.png" alt="카카오캐릭터, 무지" />
                              </div>
                              <span>무지</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/prodo.png" alt="카카오캐릭터, 프로도" />
                              </div>
                              <span>프로도</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/neo.png" alt="카카오캐릭터, 네오" />
                              </div>
                              <span>네오</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/tube.png" alt="카카오캐릭터, 튜브" />
                              </div>
                              <span>튜브</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/jayz.png" alt="카카오캐릭터, 제이지" />
                              </div>
                              <span>제이지</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/conn.png" alt="카카오캐릭터, 콘" />
                              </div>
                              <span>콘</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="contents__event">
                        <span class="offscreen">행사 이벤트</span>
                        <ul>
                          <li>
                            <a href="../blank.html"><span class="offscreen">SUNDAY CHEEZBALL</span></a>
                          </li>
                          <li>
                            <a href="../blank.html"><span class="offscreen">NINIZ</span></a>
                          </li>
                        </ul>
                      </div>
                      <div class="contents__menu">
                        <ul>
                          <li>
                            <a href="../blank.html">
                              브랜드스토리
                            </a>
                          </li>
                          <li>
                            <a href="../store.html">
                              매장안내
                            </a>
                          </li>
                          <li>
                            <a href="../help/help.html">
                              고객센터
                            </a>
                          </li>
                          <li>
                            <a href="../help/request.html">
                              문의하기
                            </a>
                          </li>
                          <li>
                            <a href="point.html">
                              기프트카드 조회 &middot; 환불
                            </a>
                          </li>
                        </ul>
                      </div>
                    </section>
                  </div>

                  <div class="footer">
                    <section class="footer__inner">
                      <h1 class="offscreen">로그인 탭</h1>
                      <a href="../login/gate.html" class="footer__login">로그인</a>
                    </section>
                  </div>
                </section>

              </li>
              <li class="finder">
                <a href="../search.html">
                  <img src="../../assets/img/header/finder.png" alt="검색 아이콘" />
                </a>
              </li>
            </ul>
          </div>
          <div class="header__right">
            <span class="offscreen">메뉴 오른쪽</span>
            <ul>
              <li class="cart">
                <a href="../product/cart.html">
                  <img src="../../assets/img/header/cart.png" alt="장바구니 아이콘" />
                </a>
              </li>
              <li class="customer">
                <a href="../blank.html">
                  <img src="../../assets/img/header/user.png" alt="언어변경 아이콘" />
                </a>
              </li>
            </ul>
          </div>
        </nav>

      </div>
    </header>

    <main class="content" id="content-box">
      <h1 class="content__title">기프트카드 조회 및 환불</h1>
      <div class="content__inner">
        <div class="content__info">
          <p class="content__intro">
            구입하신 기프트카드 조회, 환불 신청 및 내역을 확인 할 수 있습니다.
          </p>
          <a href="../blank.html" class="btn--submit" role="button">
            카드 조회 및 환불 신청
          </a>
        </div>

        <section class="gift">
          <h1 class="gift__title">기프트카드 사용안내</h1>
          <div class="content__message">
            <ul>
              <li>
                <div class="text-group">
                  <strong class="text-title">카드 종류</strong>
                  <div class="text-list">
                    <ul>
                      <li class="dot">
                        기프트카드 : 지정 오프라인 매장에서 구매 가능한
                        실물카드
                      </li>
                      <li class="dot">
                        모바일 기프트카드: 카카오톡 선물하기에서 구매 가능한
                        바코드형 카드
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="text-group">
                  <strong class="text-title">구매처</strong>
                  <div class="text-list">
                    <ul>
                      <li class="dot">
                        기프트카드 : 지정 오프라인 매장 (강남 플래그십스토어,
                        홍대 플래그십스토어, 부산 플래그십스토어, 동대문
                        DDP점)
                      </li>
                      <li class="dot">
                        모바일 기프트카드 : 카카오톡 선물하기 (모바일
                        기프트카드는 7월 15일부터 구매 가능합니다)
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="text-group">
                  <strong class="text-title">사용가능 매장</strong>
                  <p class="text-info">
                    기프트카드는 종류에 관계없이 지정 오프라인 매장과 온라인
                    프렌즈샵에서 사용 가능합니다.
                  </p>
                  <div class="text-list">
                    <ul>
                      <li class="dot">
                        오프라인 : 강남 플래그십스토어, 홍대 플래그십스토어,
                        부산 플래그십스토어, 동대문 DDP점
                      </li>
                      <li class="dot">
                        온라인 : 온라인 프렌즈샵(<a href="https://store.kakaofriends.com">store.kakaofriends.com</a>)
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="text-group">
                  <strong class="text-title">사용기한</strong>
                  <p class="text-info">
                    기프트카드의 사용기한은 구매 후 5년이며, 사용기한이 지난
                    기프트카드는 사용이 불가합니다.
                  </p>
                </div>
              </li>
              <li>
                <div class="text-group">
                  <strong class="text-title">교환/환불 규정</strong>
                  <p class="text-info">
                    기프트카드는 종류에 관계없이 지정 오프라인 매장과 온라인
                    프렌즈샵에서 사용 가능합니다.
                  </p>
                  <div class="text-list bundle">
                    <ul>
                      <li class="dot">
                        기프트카드 : 구매하신 매장에서 7일 이내 교환/환불이
                        가능합니다. 미사용카드와 구매영수증, 결제수단을
                        지참해주세요.
                      </li>
                      <li>
                        (패키지가 훼손되거나 사용이력이 있는 카드는
                        교환/환불이 불가합니다.)
                      </li>
                      <li class="dot pt-0">
                        모바일 기프트카드 : 구매하신 카카오톡 선물하기에서
                        교환/환불 가능합니다.
                      </li>
                      <li class="dot">
                        기프트카드로 구매하신 상품의 교환/환불 규정은 일반
                        상품 규정을 따릅니다.
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="text-group">
                  <strong class="text-title">잔액 조회</strong>
                  <div class="text-list">
                    <ul>
                      <li class="dot">
                        상단의 '카드 조회 및 환불 신청' 버튼을 통해 조회
                        가능합니다.
                      </li>
                      <li class="dot">
                        기프트카드 : 일련번호 & 시리얼넘버(스티커로 가려진
                        부분)을 통해 확인
                      </li>
                      <li class="dot">
                        모바일 기프트카드 : 바코드 아래의 일련번호를 통해 확인
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="text-group">
                  <strong class="text-title">잔액 환불 안내</strong>
                  <div class="text-list">
                    <ul>
                      <li>
                        환불 프로세스 : 카드 잔액 조회
                        <span class="arrow"><em class="offscreen">에서</em></span>
                        환불 신청<span class="offscreen">으로</span>
                        <span class="arrow"></span>환불 확정<span class="arrow"><em class="offscreen">에서</em></span>입금
                        완료<span class="offscreen">으로</span>
                      </li>
                      <li class="dot">
                        환불 조건 : 기프트카드 총액의 60% 이상을 사용한 경우
                        잔액환불 신청 가능합니다. (1만원권 이하의 경우 80%
                        이상 사용 후 환불신청 가능합니다.)
                      </li>
                      <li class="dot">
                        환불 방법 : 상단의 '카드 조회 및 환불 신청' 버튼을
                        눌러주세요
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="text-group">
                  <strong class="text-title">기프트카드 고객센터</strong>
                  <p class="text-info">
                    기프트카드 사용과 관련된 문의와 잔액환불 관련 문의사항은
                    고객센터(1577-6263)로 연락주세요.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </section>

      </div>
    </main>

    <footer class="footer">
      <h1 class="offscreen">카카오 프렌즈샵 쇼핑몰 정보</h1>
      <div class="footer__inner">
        <div class="family-site">
          <div class="family-site__header">
            <p class="family-site__title">DAUM의 다른 앱들을 경험해보세요</p>
            <button type="button" class="family-site__btn">
              <span class="offscreen">앱 보기</span>
            </button>
          </div>
          <div class="family-site__contents">
            <ul>
              <li>
                <a href="http://apps.apple.com/kr/app/%EB%8B%A4%EC%9D%8C-daum/id365494029;" title="새창열림"
                  target="_blank">
                  <div class="family-site__icon">
                    <img src="../../assets/img/footer/footer__daum.png" alt="다음" />
                  </div>
                </a>
              </li>
              <li>
                <a href="https://apps.apple.com/kr/app/%EB%B8%8C%EB%9F%B0%EC%B9%98-%EC%A2%8B%EC%9D%80-%EA%B8%80%EA%B3%BC-%EC%9E%91%EA%B0%80%EB%A5%BC-%EB%A7%8C%EB%82%98%EB%B3%B4%EC%84%B8%EC%9A%94/id1001388574;"
                  title="새창열림" target="_blank">
                  <div class="family-site__icon">
                    <img src="../../assets/img/footer/footer__brunch.png" alt="브런치" />
                  </div>
                </a>
              </li>
              <li>
                <a href="https://apps.apple.com/kr/app/%EC%B9%B4%EC%B9%B4%EC%98%A4%EB%A7%B5-%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD-no-1-%EC%A7%80%EB%8F%84%EC%95%B1/id304608425;"
                  title="새창열림" target="_blank">
                  <div class="family-site__icon">
                    <img src="../../assets/img/footer/footer__kakaoMap.png" alt="카카오맵" />
                  </div>
                </a>
              </li>
              <li>
                <a href="https://apps.apple.com/kr/app/%EC%B9%B4%EC%B9%B4%EC%98%A4%EC%A7%80%ED%95%98%EC%B2%A0/id1095533900"
                  title="새창열림" target="_blank">
                  <div class="family-site__icon">
                    <img src="../../assets/img/footer/footer__kakaoSubway.png" alt="카카오 지하철" />
                  </div>
                </a>
              </li>
              <li>
                <a href="https://apps.apple.com/kr/app/%EC%B9%B4%EC%B9%B4%EC%98%A4%ED%86%A1-kakaotalk/id362057947;"
                  title="새창열림" target="_blank">
                  <div class="family-site__icon">
                    <img src="../../assets/img/footer/footer__kakaoTalk.png" alt="카카오톡" />
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="friends">
          <p class="friends__link">
            <a href="components/blank.html">
              친구들이 궁금해요? 지금 바로 만나보세요!
            </a>
          </p>
        </div>
        <div class="company">
          <div class="company__info">
            <div class="company__policy">
              <ul>
                <li><a href="../blank.html">개인정보처리방침</a></li>
                <li><a href="../blank.html">이용약관</a></li>
                <li><a href="../blank.html">제휴문의</a></li>
              </ul>
            </div>

            <address class="address">
              <p class="registeration-num">
                카카오아이엑스 사업자 등록번호 : 354-86-00070
              </p>
              <p>통신판매업 신고번호: 2017-서울강남-02573</p>
              <p>대표이사:권승조</p>
              <p>주소 : 서울특별시 강남구 테헤란로 521 파르나스타워, 27층</p>
              <p>
                <a href="mailto:store@kakaofriends.com">store@kakaofriends.com</a>
              </p>
              <p>
                글로벌 배송문의<a href="mailto:global@kakaofriends.com">global@kakaofriends.com</a>
              </p>
            </address>
            <p class="copyright">Copyright &copy; KAKAO IX CORP</p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="../../assets/js/common.js"></script>
</body>

</html>