@charset "utf-8";

@import "../base/reset";
@import "../base/border";
@import "../base/color";
@import "../base/font";
@import "../base/shape";
@import "../base/space";

@mixin rem13($size) {
    font-size: ($size / 13) + rem;
}

@mixin rem($size) {
    font-size: ($size / 15) + rem;
}

@mixin rem16($size) {
    font-size: ($size / 16) + rem;
}

@mixin rem18($size) {
    font-size: ($size / 18) + rem;
}

@mixin rem20($size) {
    font-size: ($size / 20) + rem;
}
