<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="kakao_friends_shop" />
  <meta name="Description" content="cloning webpage for portfolio" />
  <meta name="Robots" content="noindex,nofollow" />

  <link rel="icon" href="/public/kakao_favicon_login.ico" />
  <link rel="stylesheet" href="../../assets/style/css/email.css" />

  <title>카카오계정</title>
</head>

<body>
  <div class="wrap">
    <div class="content">
      <main class="email">
        <section class="email__title">
          <h1>
            <a href="../intro.html">
              <div class="kakaoLogin">
                <img src="../../assets/img/pages/login/kakao_login.png" alt="kakao 로고" />
              </div>
            </a>
          </h1>
        </section>
        <div class="email__content">
          <div class="inner-container">
            <div class="inner-txt">
              <p class="inner-title">
                가입을 시작합니다!
              </p>
              <p class="inner-subtitle">
                카카오계정 하나로<br />
                Kakao, Daum, Melon 서비스를 모두 이용할 수 있어요.
              </p>
            </div>
            <div class="button-area">
              <p>카카오계정으로 사용할 이메일이 있나요?</p>
              <div class="link-button">
                <a href="hasEmail.html" title="새창열림" target="_blank">
                  <button type="button" class="btn__link btn__hasEmail">
                    이메일이 있습니다.
                  </button>
                </a>
                <a href="willEmail.html" title="새창열림" target="_blank">
                  <button type="button" class="btn__link btn__willEmail">
                    새 메일이 필요합니다.
                  </button>
                </a>
              </div>
            </div>
            <div class="link">
              <p>
                사용중인 Daum아이디가 있다면,<br />
                로그인하여 새로운 카카오계정을 만들 수 있어요.
              </p>
              <a href="https://logins.daum.net/accounts/checkaccountform.do?token=cda9616f24660a2dbbb553d3404706073cff8e01cf7572e8ad0faa1b9ea8dba5&url=https%3A%2F%2Faccounts.kakao.com%2Fweblogin%2Fcreate_account%3Fcontinue%3Dhttps%253A%252F%252Fkauth.kakao.com%252Foauth%252Fauthorize%253Fresponse_type%253Dcode%2526redirect_uri%253Dhttps%25253A%25252F%25252Fstore.kakaofriends.com%25252Fauth%25252Fkakao%2526state%253D7d5ce17b-33d6-4dc0-8c28-1b6e6e00e0fe%2526client_id%253D1737d9990c3a695cd5e7a3252b3c7003%26page%3DsignupWithDaum"
                title="새창열림" target="_blank">Daum 아이디로 카카오계정 가입</a>
            </div>
          </div>
        </div>
      </main>

      <footer class="gagao__footer">
        <div class="footer__wrap">
          <div class="policy">
            <section class="policy-list">
              <h1 class="offscreen">회사 서비스 이용</h1>
              <ul>
                <li><a href="../blank.html">이용약관</a></li>
                <li>
                  <a href="../blank.html">개인정보 처리방침</a>
                </li>
                <li><a href="../blank.html">운영정책</a></li>
                <li><a href="../blank.html">고객센터</a></li>
                <li><a href="../blank.html">공지사항</a></li>
                <li class="language-checked">
                  <a href="javascript:void(0);">한국어</a>
                </li>
              </ul>
            </section>

            <div class="policy-language policy-language--highlighted">
              <span class="offscreen">페이지 언어선택 상자</span>
              <span class="offscreen">언어선택</span>
              <ul>
                <li class="language-selected">
                  한국어
                </li>
                <li>English</li>
                <li>日本語</li>
              </ul>
            </div>

            <p class="policy-copyright policy-copyright--highlighted">
              Copyright &copy;<span class="company">Kakao Corp</span>.All
              rights reserved
            </p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>