<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="kakao_friends_shop" />
  <meta name="Description" content="cloning webpage for portfolio" />
  <meta name="Robots" content="noindex,nofollow" />

  <link rel="icon" href="/public/kakao_favicon.ico" />
  <link rel="stylesheet" href="../../assets/style/css/header.css" />
  <link rel="stylesheet" href="../../assets/style/css/logAccount.css" />
  <link rel="stylesheet" href="../../assets/style/css/footer.css" />

  <title>카카오 프렌즈샵</title>
</head>

<body>
  <div class="wrap">

    <h1 class="logo">
      <a href="../intro.html">
        <img src="../../assets/img/header/kakao_logo.png" alt="KAKAO FRIENDS 로고" />
      </a>
    </h1>

    <header class="header">
      <div class="header-upper">
        <div class="gnb">
          <div class="gnb-left">
            <ul>
              <li>
                <a href="../blank.html" class="category__btn">카테고리</a>
                <div class="category">
                  <ul class="category__oneDepth">
                    <li>
                      <a href="../blank.html">전체</a>
                      <ul class="category__twoDepth">
                        <li><a href="../blank.html">판매량순</a></li>
                        <li><a href="../blank.html">신상품순</a></li>
                        <li><a href="../blank.html">낮은 가격순</a></li>
                        <li><a href="../blank.html">높은 가격순</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="../blank.html">테마 기획전</a>
                      <ul class="category__twoDepth">
                        <li><a href="../blank.html">마린 블루</a></li>
                        <li><a href="../blank.html">얌얌프렌즈</a></li>
                        <li><a href="../blank.html">레몬테라스</a></li>
                        <li>
                          <a href="../blank.html">베이비드리밍</a>
                        </li>
                        <li><a href="../blank.html">해피위크</a></li>
                        <li>
                          <a href="../blank.html">강다니엘 에디션</a>
                        </li>
                        <li><a href="../blank.html">치즈프렌즈</a></li>
                        <li>
                          <a href="../blank.html">트와이스 에디션</a>
                        </li>
                        <li>
                          <a href="../blank.html">포레스트 라이언</a>
                        </li>
                        <li><a href="../blank.html">허니프렌즈</a></li>
                        <li>
                          <a href="../blank.html">러블리 어피치</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="../blank.html">토이</a>
                      <ul class="category__twoDepth">
                        <li><a href="../blank.html">미니인형</a></li>
                        <li><a href="../blank.html">중형인형</a></li>
                        <li><a href="../blank.html">대형인형</a></li>
                        <li><a href="../blank.html">키체인인형</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="../blank.html">리빙</a>
                      <ul class="category__twoDepth">
                        <li><a href="../blank.html">쿠션방석</a></li>
                        <li><a href="../blank.html">컵/텀블러</a></li>
                        <li><a href="../blank.html">주방용품</a></li>
                        <li>
                          <a href="../blank.html">미용/욕실용품</a>
                        </li>
                        <li>
                          <a href="../blank.html">생활소품/잡화</a>
                        </li>
                        <li>
                          <a href="../blank.html">강다니엘 에디션</a>
                        </li>
                        <li><a href="../blank.html">펫 용품</a></li>
                        <li><a href="../blank.html">탈취/방향제</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="../blank.html">잡화</a>
                      <ul class="category__twoDepth">
                        <li><a href="../blank.html">쿠션방석</a></li>
                        <li><a href="../blank.html">컵/텀블러</a></li>
                        <li><a href="../blank.html">주방용품</a></li>
                        <li>
                          <a href="../blank.html">미용/욕실용품</a>
                        </li>
                        <li>
                          <a href="../blank.html">생활소품/잡화</a>
                        </li>
                        <li>
                          <a href="../blank.html">강다니엘 에디션</a>
                        </li>
                        <li><a href="../blank.html">펫 용품</a></li>
                        <li><a href="../blank.html">탈취/방향제</a></li>
                        <li>
                          <a href="../blank.html">포레스트 라이언</a>
                        </li>
                        <li><a href="../blank.html">허니프렌즈</a></li>
                        <li>
                          <a href="../blank.html">러블리 어피치</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="../blank.html">문구</a>
                      <ul class="category__twoDepth">
                        <li><a href="../blank.html">필기구</a></li>
                        <li><a href="../blank.html">필통/케이스</a></li>
                        <li><a href="../blank.html">노트/메모</a></li>
                        <li><a href="../blank.html">파일</a></li>
                        <li><a href="../blank.html">스티커</a></li>
                        <li><a href="../blank.html">데스크 소품</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="../blank.html">의류</a>
                      <ul class="category__twoDepth">
                        <li><a href="../blank.html">여성</a></li>
                        <li><a href="../blank.html">남성</a></li>
                        <li><a href="../blank.html">속옷</a></li>
                        <li><a href="../blank.html">양말</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="../blank.html">파자마</a>
                      <ul class="category__twoDepth">
                        <li><a href="../blank.html">여성</a></li>
                        <li><a href="../blank.html">남성</a></li>
                        <li><a href="../blank.html">키즈</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="../blank.html">여행/레져</a>
                      <ul class="category__twoDepth">
                        <li><a href="../blank.html">여헹</a></li>
                        <li><a href="../blank.html">레져</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="../blank.html">생활테크</a>
                      <ul class="category__twoDepth">
                        <li>
                          <a href="../blank.html">노트북 액세서리</a>
                        </li>
                        <li><a href="../blank.html">소형 전자</a></li>
                        <li>
                          <a href="../blank.html">에어팟 케이스</a>
                        </li>
                        <li>
                          <a href="../blank.html">에어팟 액세서리</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="../blank.html">폰 액세서리</a>
                      <ul class="category__twoDepth">
                        <li>
                          <a href="../blank.html">휴대폰 케이스</a>
                        </li>
                        <li>
                          <a href="../blank.html">휴대폰 액세서리</a>
                        </li>
                        <li><a href="../blank.html">충전기</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="../blank.html">식품</a>
                      <ul class="category__twoDepth">
                        <li><a href="../blank.html">스낵</a></li>
                        <li><a href="../blank.html">음료</a></li>
                      </ul>
                    </li>
                  </ul>
                  <div class="category__adv">
                    <ul>
                      <li>
                        <a href="../blank.html" class="ryan">
                          <img src="../../assets/img/header/header_ryan.png" alt="라이언 이미지" />
                          <span>라이언</span>
                        </a>
                      </li>
                      <li>
                        <a href="../blank.html" class="apeach">
                          <img src="../../assets/img/header/header_appeach.png" alt="어피치 이미지" />
                          <span>어피치</span></a>
                      </li>
                      <li>
                        <a href="../blank.html" class="muzi">
                          <img src="../../assets/img/header/header_muzi.png" alt="무지 이미지" />
                          <span>무지</span>
                        </a>
                      </li>
                      <li>
                        <a href="../blank.html" class="prodo">
                          <img src="../../assets/img/header/header_prodo.png" alt="프로도 이미지" />
                          <span>프로도</span>
                        </a>
                      </li>
                      <li>
                        <a href="../blank.html" class="neo">
                          <img src="../../assets/img/header/header_neo.png" alt="네오 이미지" />
                          <span>네오</span>
                        </a>
                      </li>
                      <li>
                        <a href="../blank.html" class="tube">
                          <img src="../../assets/img/header/header_tube.png" alt="네오 이미지" />
                          <span>튜브</span>
                        </a>
                      </li>
                      <li>
                        <a href="../blank.html" class="jayz">
                          <img src="../../assets/img/header/header_jayz.png" alt="제이지 이미지" />
                          <span>제이지</span>
                        </a>
                      </li>
                      <li>
                        <a href="../blank.html" class="con">
                          <img src="../../assets/img/header/header_con.png" alt="콘 이미지" />
                          <span>콘</span>
                        </a>
                      </li>
                    </ul>
                    <div>
                      <a href="../blank.html">
                        <img src="../../assets/img/header/banner_cheese.png" alt="SUNDAY CHEEZZZBALL" />
                        <span class="offscreen">sunday cheezeball 배너</span>
                      </a>

                      <a href="../blank.html">
                        <img src="../../assets/img/header/banner_niniz.png" alt="NINIZ" />
                        <span class="offscreen">miniz 배너</span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="../store.html">매장안내</a>
              </li>
              <li>
                <a href="../help/help.html">고객센터</a>
              </li>
            </ul>
          </div>
          <div class="gnb-right">
            <ul>
              <li class="gnb__popular">
                <div class="popular">
                  <strong class="popular_title">신규상품(5)</strong>
                  <div class="slide_box">
                    <div class="slide">
                      <ul>
                        <li><a href="../blank.html">1. 목걸이형 & 핸디형 선풍기</a></li>
                        <li><a href="../blank.html">2. 프렌즈 물놀이템</a></li>
                        <li><a href="../blank.html">3. 프렌즈 무드등 모음</a></li>
                        <li><a href="../blank.html">4. 프렌즈 데스트템 모음</a></li>
                        <li><a href="../blank.html">5. 프렌즈 청소템 모음</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="slide_buttons">
                    <button type="button" class="slide_btn slide_start">
                      <span class="offscreen">배너 재생</span>
                    </button>
                    <button type="button" class="slide_btn slide_stop">
                      <span class="offscreen">배너 정지</span>
                    </button>
                  </div>
                  <div class="slide_shortcut">
                    <strong class="offscreen">신규상품 리스트</strong>
                    <ul>
                      <li><a href="../blank.html">1. 목걸이형 & 핸디형 선풍기</a></li>
                      <li><a href="../blank.html">2. 프렌즈 물놀이템</a></li>
                      <li><a href="../blank.html">3. 프렌즈 무드등 모음</a></li>
                      <li><a href="../blank.html">4. 프렌즈 데스트템 모음</a></li>
                      <li><a href="../blank.html">5. 프렌즈 청소템 모음</a></li>
                    </ul>

                  </div>
                </div>

              </li>
              <li class="gnb__finder">
                <a href="javascript:void(0);">
                  <img src="../../assets/img/header/finder.png" alt="상품 검색" />
                </a>
              </li>
              <li class="gnb__login">
                <a href="logAccount.html">
                  <img src="../../assets/img/header/user.png" alt="회원정보" />
                </a>
                <ul class="gnb__userData">
                  <li><a href="gate.html">로그인</a></li>
                  <li><a href="../blank.html">주문내역</a></li>
                  <li><a href="../blank.html">찜</a></li>
                  <li><a href="../blank.html">취소 및 교환</a></li>
                  <li><a href="../blank.html">포인트</a></li>
                  <li><a href="../blank.html">1:1 문의</a></li>
                  <li><a href="../blank.html">비회원 주문조회</a></li>
                  <li>
                    <a href="../product/point.html">기프트카드 조회.환불</a>
                  </li>
                </ul>
              </li>
              <li class="gnb__items">
                <a href="../blank.html">
                  <img src="../../assets/img/header/basket.png" alt="장바구니" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="lnb">
          <ul>
            <li><a href="../intro.html">홈</a></li>
            <li><a href="../hot.html">인기</a></li>
            <li><a href="../sale.html">세일</a></li>
            <li><a href="../total.html">전체</a></li>
          </ul>
        </div>
        <div class="search-keyword">
          <div class="search-keyword__wrapper">
            <div class="search-keyword__group">
              <form action="#" method="post">
                <fieldset>
                  <legend class="offscreen">키워드 검색</legend>
                  <div class="search-keyword__inputBox">
                    <input type="text" name="keyword" id="totSearchkeyword" placeholder="검색어를 입력하세요"
                      title="검색어를 입력하세요" />
                    <button type="button" class="search-keyword__btn-search" onclick="keyword_search()">
                      <span class="offscreen">검색</span>
                    </button>
                  </div>
                  <div class="search-keyword__keyword-list">
                    <strong class="search-keyword__keyword-title">인기 검색어</strong>
                    <ul>
                      <li>
                        <a href="../blank.html">
                          #<span class="frequent">충전거치대</span></a>
                      </li>
                      <li>
                        <a href="../blank.html">
                          #<span class="frequent">라이언</span>
                        </a>
                      </li>
                      <li>
                        <a href="../blank.html">
                          #<span class="frequent">선풍기</span>
                        </a>
                      </li>
                      <li>
                        <a href="../blank.html">
                          #<span class="frequent">어피치</span></a>
                      </li>
                      <li>
                        <a href="../blank.html">
                          #<span class="frequent">우산</span></a>
                      </li>
                      <li>
                        <a href="../blank.html">
                          #<span class="frequent">인형</span></a>
                      </li>
                      <li>
                        <a href="../blank.html">
                          #<span class="frequent">텀블러</span></a>
                      </li>
                    </ul>
                  </div>
                  <button type="button" class="search-keyword__btn-cancel" id="closeSearch">
                    <span class="offscreen">검색창 닫기</span>
                  </button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="content">
      <div class="login-header">
        <div class="header-contents">
          <h1 class="offscreen">카카오 계정으로 로그인</h1>
          <p class="login-title">
            <strong>오늘도 힘차게!!</strong><br />로그인을 해주세요
          </p>
        </div>
      </div>
      <div class="login-content">
        <div class="login-message">
          <a href="gate.html" role="button" class="btn-kakao-login">
            <p class="login-text">카카오 계정으로 로그인</p>
          </a>
          <div class="notice">
            <strong class="notice-title">고객님께 안내 드립니다.</strong>
            <ul>
              <li>
                <p>
                  카카오프렌즈 고객님께 다양한 혜택을 드리고자 카카오프<br />렌즈
                  회원가입 서비스를 도입하게되었습니다.
                </p>
                <p>카카오프렌즈는 회원가입시 최소한의 정보만을 수집합니다.</p>
              </li>
              <li>
                <p>
                  기존 구매 고객님께서는 카카오 계정 로그인 후 추가정보를<br />입력
                  해주시면 구매이력과 주문 정보 등의 서비를 동일하<br />게
                  이용할 수 있습니다.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://kit.fontawesome.com/1a2bd2c0e3.js" crossorigin="anonymous"></script>
  <script src="../../assets/js/common.js"></script>
</body>

</html>