<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="kakao_friends_shop" />
  <meta name="Description" content="cloning webpage for portfolio" />
  <meta name="Robots" content="noindex,nofollow" />

  <link rel="icon" href="/public/kakao_favicon_login.ico" />
  <link rel="stylesheet" href="../../assets/style/css/willEmail.css" />

  <title>카카오계정</title>
</head>

<body>
  <div class="wrap">
    <div class="content">
      <main class="hasEmail">
        <section class="hasEmail__title">
          <h1>
            <a href="../intro.html">
              <div class="kakaoLogin">
                <img src="../../assets/img/pages/login/kakao_login.png" alt="kakao 로고" />
              </div>
            </a>
          </h1>
        </section>
        <div class="hasEmail__content">
          <div class="inner-container">
            <p class="inner-title">
              카카오계정<br />서비스약관에 동의해주세요.
            </p>
            <form action="" method="" class="form">
              <fieldset>
                <legend class="offscreen">
                  이메일이 있을 경우, 서비스약관 동의
                </legend>

                <div class="form__formArea">
                  <div class="form__agree form__checkall form__checkbox">
                    <input type="checkbox" id="all" class="offscreen checkItem" name="agree_all" value="agree_all" />
                    <label for="all" class="agreeAll">
                      <strong class="chkbox">모두 동의합니다.</strong>
                    </label>
                    <div class="form__check">
                      <p>
                        전체동의는 필수 및 선택정보에 대한 동의도 포함되어
                        있으며,<br />개별적으로도 동의를 선택하실 수 있습니다.
                        선택항목에 대한<br />
                        동의를 거부하시는 경우에도 서비스는 이용이 가능합니다.
                      </p>
                    </div>
                  </div>
                  <div class="form__agreeSub">
                    <div class="form__checkbox">
                      <input type="checkbox" id="age" class="offscreen checkItem normal" name="normal" value="normal" />
                      <label for="age">
                        <span class="chkbox">만 14세 이상입니다.</span>
                      </label>
                    </div>
                    <div class="form__checkbox form__checkbox-more">
                      <input type="checkbox" id="account" class="offscreen checkItem" name="required_input"
                        value="essential" />
                      <label for="account">
                        <span class="chkbox">
                          &#91;<span class="tag">필수</span>&#93; 카카오계정
                          약관
                        </span>
                      </label>
                      <button type="button" class="agreement-more">
                        <span class="offscreen">카카오계정 약관 더보기</span>
                      </button>
                    </div>
                    <div class="form__checkbox form__total">
                      <input type="checkbox" id="totalService" class="offscreen checkItem" name="required_input"
                        value="essential" />
                      <label for="totalService">
                        <span class="chkbox">
                          &#91;<span class="tag">필수</span>&#93; 카카오
                          통합서비스약관
                        </span>
                      </label>
                      <div class="form__check">
                        <p>
                          본 약관은 회사가 제공하는 카카오, Daum, Melon 서비스
                          등에 공통 적용되며, 본 약관에 동의함으로써 해당
                          서비스들을 별도 이용계약 체결 없이 이용할 수
                          있습니다.
                        </p>
                      </div>
                      <button type="button" class="agreement-more">
                        <span class="offscreen">카카오 통합서비스약관 약관 더보기</span>
                      </button>
                    </div>
                    <div class="form__checkbox form__checkbox-more">
                      <input type="checkbox" id="adChannel" class="offscreen checkItem" name="normal" value="normal" />
                      <label for="adChannel">
                        <span class="chkbox">
                          &#91;<span class="tag">선택</span>&#93; 카카오알림
                          채널 추가 및 광고메시지 수신
                        </span>
                      </label>
                      <button type="button" class="agreement-more">
                        <span class="offscreen">카카오알림 채널 추가 및 광고메시지 수신약관
                          더보기</span>
                      </button>
                    </div>
                    <div class="form__checkbox form__checkbox-more">
                      <input type="checkbox" id="personalInfo" class="offscreen checkItem" name="required_input"
                        value="essential" />
                      <label for="personalInfo">
                        <span class="chkbox">
                          &#91;<span class="tag">필수</span>&#93; 개인정보
                          수집 및 이용동의
                        </span>
                      </label>
                      <button type="button" class="agreement-more">
                        <span class="offscreen">개인정보 수집 및 이용동의 약관 더보기</span>
                      </button>
                    </div>
                    <div class="form__checkbox form__checkbox-more">
                      <input type="checkbox" id="location" class="offscreen checkItem" name="normal" value="normal" />
                      <label for="location">
                        <span class="chkbox">
                          &#91;<span class="tag">선택</span>&#93; 위치정보
                          수집 및 이용 동의
                        </span>
                      </label>
                      <button type="button" class="agreement-more">
                        <span class="offscreen">위치정보 수집 및 이용 동의약관 더보기</span>
                      </button>
                    </div>
                    <div class="form__checkbox form__checkbox-more">
                      <input type="checkbox" id="profile" class="offscreen checkItem" name="normal" value="normal" />
                      <label for="profile">
                        <span class="chkbox">
                          &#91;<span class="tag">선택</span>&#93; 프로필 정보
                          추가 수집 동의
                        </span>
                      </label>
                      <button type="button" class="agreement-more">
                        <span class="offscreen">프로필 정보 추가 수집 동의약관 더보기</span>
                      </button>
                    </div>
                  </div>
                  <div class="form__button">
                    <a href="../blank.html">
                      <button type="button" class="btn-submit">
                        동의
                      </button>
                    </a>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </main>

      <footer class="gagao__footer">
        <div class="footer__wrap">
          <div class="policy">
            <section class="policy-list">
              <h1 class="offscreen">회사 서비스 이용</h1>
              <ul>
                <li><a href="../blank.html">이용약관</a></li>
                <li>
                  <a href="../blank.html">개인정보 처리방침</a>
                </li>
                <li><a href="../blank.html">운영정책</a></li>
                <li><a href="../blank.html">고객센터</a></li>
                <li><a href="../blank.html">공지사항</a></li>
                <li class="language-checked">
                  <a href="javascript:void(0);">한국어</a>
                </li>
              </ul>
            </section>

            <div class="policy-language policy-language--highlighted">
              <span class="offscreen">페이지 언어선택 상자</span>
              <span class="offscreen">언어선택</span>
              <ul>
                <li class="language-selected">
                  <a href="../blank.html">한국어</a>
                </li>
                <li><a href="../blank.html">English</a></li>
                <li><a href="../blank.html">日本語</a></li>
              </ul>
            </div>

            <p class="policy-copyright policy-copyright--highlighted">
              Copyright &copy;<span class="company">Kakao Corp</span>.All
              rights reserved
            </p>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="../../assets/js/willEmail/willEmail.js"></script>
</body>

</html>