@charset "utf-8";

@import '../scss/base/font';
@import '../scss/base/space';
@import '../scss/base/shape';
@import '../scss/base/border';
@import '../scss/base/color';
@import '../scss/mixin/rem';

html,
body {
  font-size: 15px;
  font-family: NotoSans-Regular, AppleSDGothicNeo-Regular, '맑은 고딕',
    Malgun Gothic, '돋움', dotum, sans-serif;
}

.mobile {
  .content {
    width: 100%;
    .content__bg {
      width: 100%;
      height: 72vw;
      margin: 0 auto;
      background: url('../../img/pages/login/login_befere_bg.png') center bottom
        #ffdc00 no-repeat;
    }
    .contnet__txt {
      padding: 2.933333333333333vw 0 0 3.4666666666666663vw;
      @include rem(29);
      line-height: 8.799999999999999vw;
      .bold {
        font-weight: bold;
      }
    }
    .content__info {
      padding: 7.466666666666668vw 2.4vw 0 2.4vw;
      .btn__login {
        display: block;
        width: 100%;
        padding: 2.666666666666667vw 0;
        @include rem(14);
        font-weight: bold;
        margin-bottom: 43px;
        border-color: #ffdc00;
        border-radius: 8vw;
        text-align: center;
        background: url('../../img/pages/login/logo__kakao.png') center left
          20.533333333333335vw #ffdc00 no-repeat;
      }
      .content__attention {
        padding: 0 5.333333333333334vw 0 5.333333333333334vw;
        @include rem(13);
        padding-bottom: 16.8vw;
        .content__title {
          display: block;
        }
        .content__list {
          li {
            position: relative;
            padding-top: 6.133333333333333vw;
            line-height: 1.4;
            @include rem(12);
            &:before {
              content: ' ';
              display: block;
              width: 0.5333333333333333vw;
              height: 0.5333333333333333vw;
              position: absolute;
              top: 8vw;
              left: -2.666666666666667vw;
              background: url('../../img/pages/login/dot.png') no-repeat;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 414px) {
  .mobile {
    .content {
      .content__info {
        .btn__login {
          margin-bottom: 66px;
        }
      }
    }
  }
}

@media screen and (min-width: 667px) {
  .mobile {
    .content {
      padding-top: 0.8995502248875562vw;
      .content__bg {
        height: 38.830584707646175vw;
      }
      .contnet__txt {
        padding: 1.6491754122938531vw 0 0 1.9490254872563717vw;
        font-size: 4.3478260869565215vw;
        line-height: 4.94752623688156vw;
      }
      .content__info {
        padding: 4.7976011994003vw 1.3493253373313343vw 0 1.3493253373313343vw;
        .btn__login {
          background: url('../../img/pages/login/logo__kakao.png') center left
            222px #ffdc00 no-repeat;
        }
      }
    }
  }
}

@media screen and (min-width: 736px) {
  .mobile {
    .content {
      padding-top: 0.8152173913043478vw;
      .content__bg {
        height: 35.190217391304344vw;
      }
      .contnet__txt {
        padding: 1.766304347826087vw 0 0 1.766304347826087vw;
      }
      .content__info {
        padding: 5.0271739130434785vw 1.2228260869565217vw 0
          1.2228260869565217vw;
        .btn__login {
          background: url('../../img/pages/login/logo__kakao.png') center left
            34.51086956521739vw #ffdc00 no-repeat;
        }
        .content__attention {
          padding: 0 2.717391304347826vw 2.717391304347826vw
            1.4945652173913044vw;
        }
      }
    }
  }
}
