@charset "utf-8";

@import "../scss/base/reset";
@import "../scss/base/font";
@import "../scss/base/space";
@import "../scss/base/shape";
@import "../scss/base/border";
@import "../scss/base/color";
@import "../scss/mixin/item";
@import "../scss/mixin/rem";
@import "../scss/mixin/layout";

html,
body {
    font-size: 15px;
    font-family: NotoSans-Regular, AppleSDGothicNeo-Regular, "맑은 고딕",
        Malgun Gothic, "돋움", dotum, sans-serif;
}

.mobile {
    .content {
        .layout {
            .left {
                float: left;
            }
            .right {
                float: right;
                padding-left: 1px;
                box-sizing: border-box;
            }
            .size-big {
                width: 66.55%;
                position: relative;
                padding: 1px;
                box-sizing: border-box;
                .item-thumnail {
                    width: 100%;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .info {
                    display: none;
                    position: absolute;
                    left: 1px;
                    bottom: 0;
                    width: 99%;
                    height: 52px;
                    background: rgba(0, 0, 0, 0.4);
                    z-index: 2;
                    padding: 6px;
                    box-sizing: border-box;
                    span {
                        display: inline-block;
                        color: #fff;
                        font-size: 15px;
                    }
                    .review {
                        position: absolute;
                        .rating {
                            display: inline-block;
                            .star-wrap {
                                width: 4.8vw;
                                display: inline-block;
                                .star {
                                    position: relative;
                                    width: 0;
                                    overflow: hidden;
                                    z-index: 2;
                                    .fa-star {
                                        color: #f05522;
                                    }
                                }
                                &:before {
                                    display: inline-block;
                                    position: absolute;
                                    content: " ";
                                    width: 5.333333333333334vw;
                                    height: 5.333333333333334vw;
                                    top: 0.5333333333333333vw;
                                    z-index: 1;
                                    background: url("../../img/pages/total/star.png")
                                        no-repeat;
                                }
                            }
                        }
                    }
                }
                .item-pick {
                    position: absolute;
                    display: block;
                    width: 8vw;
                    height: 8vw;
                    right: 12px;
                    bottom: 10px;
                    background: url("../../img/pages/sale/item-pick.png") center
                        center no-repeat;
                    z-index: 4;
                }
                .overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: rgba(255, 255, 255, 0.65);
                }
                &.on {
                    .info {
                        display: block;
                    }
                    .overlay {
                        display: none;
                    }
                }
            }
            .size-small {
                width: 33.3%;
                padding: 1px;
                box-sizing: border-box;
                .item-thumnail {
                    width: 100%;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .info {
                    display: none;
                    position: absolute;
                    left: 1px;
                    bottom: 0;
                    width: 99%;
                    height: 52px;
                    background: rgba(0, 0, 0, 0.4);
                    z-index: 2;
                    padding: 6px;
                    box-sizing: border-box;
                    span {
                        display: inline-block;
                        width: 100px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        color: #fff;
                        font-size: 11px;
                    }
                    .review {
                        position: absolute;
                        .rating {
                            display: inline-block;
                            .star-wrap {
                                width: 4.8vw;
                                display: inline-block;
                                .star {
                                    position: relative;
                                    width: 0;
                                    overflow: hidden;
                                    z-index: 2;
                                    .fa-star {
                                        color: #f05522;
                                    }
                                }
                                &:before {
                                    display: inline-block;
                                    position: absolute;
                                    content: " ";
                                    width: 5.333333333333334vw;
                                    height: 5.333333333333334vw;
                                    top: 0.5333333333333333vw;
                                    z-index: 1;
                                    background: url("../../img/pages/total/star.png")
                                        no-repeat;
                                }
                            }
                        }
                    }
                }
                .unit {
                    position: relative;
                    padding-bottom: 1px;
                    box-sizing: border-box;
                    .item-pick {
                        position: absolute;
                        display: block;
                        width: 8vw;
                        height: 8vw;
                        right: -2px;
                        bottom: 8px;
                        background: url("../../img/pages/sale/item-pick.png")
                            center center no-repeat;
                        z-index: 5;
                    }
                    .overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: rgba(255, 255, 255, 0.65);
                    }
                    &.on {
                        .info {
                            display: block;
                        }
                        .overlay {
                            display: none;
                        }
                    }
                }
            }
            ul {
                li {
                    position: relative;
                    float: left;
                    width: 33.3333%;
                    height: 125px;
                    padding: 1px;
                    box-sizing: border-box;
                    .item-thumnail {
                        width: 100%;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .info {
                        display: none;
                        position: absolute;
                        left: 1px;
                        bottom: 0;
                        width: 99%;
                        height: 52px;
                        background: rgba(0, 0, 0, 0.4);
                        z-index: 2;
                        padding: 6px;
                        box-sizing: border-box;
                        span {
                            display: inline-block;
                            width: 100px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            color: #fff;
                            font-size: 11px;
                        }
                        .review {
                            position: absolute;
                            .rating {
                                display: inline-block;
                                .star-wrap {
                                    width: 4.8vw;
                                    display: inline-block;
                                    .star {
                                        position: relative;
                                        width: 0;
                                        overflow: hidden;
                                        z-index: 2;
                                        .fa-star {
                                            color: #f05522;
                                        }
                                    }
                                    &:before {
                                        display: inline-block;
                                        position: absolute;
                                        content: " ";
                                        width: 5.333333333333334vw;
                                        height: 5.333333333333334vw;
                                        top: 0.5333333333333333vw;
                                        z-index: 1;
                                        background: url("../../img/pages/total/star.png")
                                            no-repeat;
                                    }
                                }
                            }
                        }
                    }
                    .item-pick {
                        position: absolute;
                        display: block;
                        width: 8vw;
                        height: 8vw;
                        right: 4px;
                        bottom: 8px;
                        background: url("../../img/pages/sale/item-pick.png")
                            center center no-repeat;
                        z-index: 5;
                    }
                    .overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: rgba(255, 255, 255, 0.65);
                    }
                    &.on {
                        .info {
                            display: block;
                        }
                        .overlay {
                            display: none;
                        }
                    }
                }
                &:after {
                    @include clear;
                }
            }

            &:after {
                @include clear;
            }
        }
        .click-to-top {
            .btn-top {
                display: none;
                position: fixed;
                width: 12.8vw;
                height: 12.533333333333333vw;
                bottom: 0;
                z-index: 11;
                background: url("../../img/pages/store/btn_to_top.png") center
                    center no-repeat;
            }
        }
    }
}

@media (min-width: 414px) and (max-width: 666px) {
    .mobile {
        .content {
            .layout {
                ul {
                    li {
                        position: relative;
                        float: left;
                        width: 33.3333%;
                        height: 125px;
                        padding: 1px;
                        box-sizing: border-box;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                        .item-pick {
                            position: absolute;
                            display: block;
                            width: 8vw;
                            height: 8vw;
                            right: 4px;
                            bottom: 8px;
                            background: url("../../img/pages/sale/item-pick.png")
                                center center no-repeat;
                        }
                    }
                }
                .size-big {
                    width: 66.55%;
                    position: relative;
                    padding: 1px;
                    box-sizing: border-box;
                    a {
                        display: block;
                        img {
                            @include img-size;
                        }
                    }
                    .item-pick {
                        position: absolute;
                        display: block;
                        width: 8vw;
                        height: 8vw;
                        right: 12px;
                        bottom: 14px;
                        background: url("../../img/pages/sale/item-pick.png")
                            center center no-repeat;
                    }
                }
                .size-small {
                    width: 33.3%;
                    padding: 1px;
                    box-sizing: border-box;
                    img {
                        @include img-size;
                    }
                    .unit {
                        position: relative;
                        padding-bottom: 1px;
                        box-sizing: border-box;
                        .item-pick {
                            position: absolute;
                            display: block;
                            width: 8vw;
                            height: 8vw;
                            right: 4px;
                            bottom: 8px;
                            background: url("../../img/pages/sale/item-pick.png")
                                center center no-repeat;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 667px) and (max-width: 735px) {
    .mobile {
        .content {
            .layout {
                ul {
                    li {
                        height: 223px;
                        padding: 1px;
                        box-sizing: border-box;
                        img {
                            @include img-size;
                        }
                        .item-pick {
                            position: absolute;
                            display: block;
                            width: 8vw;
                            height: 8vw;
                            right: 4px;
                            bottom: 8px;
                            background: url("../../img/pages/sale/item-pick.png")
                                center center no-repeat;
                        }
                    }
                }
                .size-big {
                    width: 66.55%;
                    position: relative;
                    padding: 1px;
                    box-sizing: border-box;
                    a {
                        display: block;
                        img {
                            @include img-size;
                        }
                    }
                    .item-pick {
                        position: absolute;
                        display: block;
                        width: 8vw;
                        height: 8vw;
                        right: 12px;
                        bottom: 14px;
                        background: url("../../img/pages/sale/item-pick.png")
                            center center no-repeat;
                    }
                }
                .size-small {
                    width: 33.3%;
                    padding: 1px;
                    box-sizing: border-box;
                    img {
                        @include img-size;
                    }
                    .unit {
                        position: relative;
                        padding-bottom: 1px;
                        box-sizing: border-box;
                        .item-pick {
                            position: absolute;
                            display: block;
                            width: 8vw;
                            height: 8vw;
                            right: 4px;
                            bottom: 8px;
                            background: url("../../img/pages/sale/item-pick.png")
                                center center no-repeat;
                        }
                    }
                }
            }
            .click-to-top {
                .btn-top {
                    display: none;
                    position: fixed;
                    width: 12.8vw;
                    height: 12.533333333333333vw;
                    bottom: 0;
                    z-index: 11;
                    background: url("../../img/pages/store/btn_to_top.png")
                        center center no-repeat;
                }
            }
        }
    }
}

@media (min-width: 736px) and (max-width: 800px) {
}
