<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="kakao_friends_shop" />
  <meta name="Description" content="cloning webpage for portfolio" />
  <meta name="Robots" content="noindex,nofollow" />

  <link rel="stylesheet" href="../../assets/style/css/header.css" />
  <link rel="stylesheet" href="../../assets/style/css/footer.css" />
  <link rel="stylesheet" href="../../assets/style/css/email.css" />
  <title>모바일_카카오 프렌즈샵</title>
</head>

<body>
  <div class="mobile">
    <h1 class="offscreen">
      <a href="index.html">
        <img src="../../assets/img/header/logo.png" alt="KAKAO FRIENDS" />
      </a>
    </h1>
    <section class="join">
      <h1 class="offscreen">카카오프렌즈 계정 만들기</h1>
      <div class="join__inner">
        <div class="join__upper">
          <p class="join__title">가입을 시작합니다!</p>
          <div class="join__intro">
            <p>
              카카오계정 하나로
            </p>
            <p>Kakao, Daum, Melon 서비스를 모두 이용할 수 있어요.</p>
          </div>
          <p class="join__email">카카오계정으로 사용할 이메일이 있나요?</p>
          <div class="join__box">
            <a href="hasEmail.html" class="join__emailHas" role="button">이메일이 있습니다.</a>
            <a href="willEmail.html" class="join__emailNew" role="button">새 메일이 필요합니다.</a>
          </div>
        </div>
        <div class="join__bottom">
          <div class="txt-bottom">
            <p>사용중인 Daum아이디가 있다면,</p>
            <p>로그인하여 새로운 카카오계쩡을 만들 수 있어요</p>
          </div>
          <a href="https://logins.daum.net/accounts/checkaccountform.do?token=87bebcec754fe1e54e3889934c91fef9e0d17a7db6fa292a66023fbba7e214d3&url=https%3A%2F%2Faccounts.kakao.com%2Fweblogin%2Fcreate_account%3Fcontinue%3Dhttps%253A%252F%252Fkauth.kakao.com%252Foauth%252Fauthorize%253Fresponse_type%253Dcode%2526redirect_uri%253Dhttps%25253A%25252F%25252Fstore.kakaofriends.com%25252Fauth%25252Fkakao%2526state%253D7d88dd7e-bfdd-4ba1-b57f-2984d0a2c54b%2526client_id%253D1737d9990c3a695cd5e7a3252b3c7003%26page%3DsignupWithDaum"
            class="link-daum">Daum 아이디로 카카오계정 가입</a>
        </div>
      </div>
    </section>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>

</html>