<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="kakao_friends_shop" />
  <meta name="Description" content="cloning webpage for portfolio" />
  <meta name="Robots" content="noindex,nofollow" />

  <link rel="icon" href="/public/kakao_favicon_login.ico" />
  <link rel="stylesheet" href="../../assets/style/css/gate.css" />
  <title>모바일_카카오 프렌즈샵</title>
</head>

<body>
  <div class="mobile">
    <div class="content">
      <div class="content__inner">
        <div class="gate">
          <main class="login">
            <h1 class="offscreen">
              카카오 프렌즈샵 로그인
            </h1>
            <section class="form">
              <h1 class="form__title">
                <a href="../../index.html">
                  <div class="kakaoLogin">
                    <img src="../../assets/img/pages/login/kakao_login.png" alt="kakao" />
                  </div>
                </a>
              </h1>
              <div class="inner-container">
                <form action="#" method="#">
                  <legend class="offscreen">회원로그인 폼</legend>
                  <fieldset>
                    <div class="inputArea">
                      <div class="inputArea__input--email">
                        <div class="input__email">
                          <label class="label--email" for="account">
                            카카오계정(이메일 또는 전화번호)</label>
                          <input type="text" name="account" id="account" />
                        </div>
                        <div class="infoHelp">
                          <button type="button" class="infoHelp__inputDel">
                            <span class="offscreen">인풋컨텐츠 삭제</span>
                          </button>
                          <button type="button" class="infoHelp__infoBtn">
                            <span class="offscreen">이메일 계정 도움말</span>
                          </button>
                          <div class="infoHelp__infoTxt infoHelp__infoTxt--visible">
                            <p class="infoHelp__infoTxt--desc">
                              카카오계정은 카카도 서비스 및 연계서비스를
                              이용하기 위하여 필요한 로그인 계정입니다.
                            </p>
                            <p class="infoHelp__infoTxt--find">
                              <a href="javascript:void(0);">카카오계정 찾기</a>
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="inputArea__input--pwd">
                        <div class="input__pwd">
                          <label class="label--pwd" for="pwd" class="offscreen">비밀번호</label>
                          <input type="password" name="password" id="pwd" class="inputPwd" />
                        </div>
                        <div class="btn-pwd">
                          <button type="button">
                            <span class="offscreen">비밀번호 지우기</span>
                          </button>
                        </div>
                      </div>

                      <div class="inputArea__input--saved">
                        <div class="keep-status">
                          <input type="checkbox" id="status" class="offscreen" />
                          <label for="status">
                            <span>로그인 상태유지</span>
                          </label>
                          <div class="inputArea__status--alert inputArea__status--visible">
                            <p class="inputArea__status--desc">
                              개인정보 보호를 위해 개인 PC에서만
                              사용해주세요
                            </p>
                            <p class="inputArea__status--find">
                              <a href="javascript:void(0);">도움말 보기</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="btnArea">
                      <a href="../../index.html">
                        <button type="button" class="btnArea__email-btn email-btn--colored">
                          <span class="txt">로그인</span>
                        </button>
                      </a>
                    </div>

                    <div class="txtArea">
                      <p class="txtArea__join">
                        <a href="email.html">회원가입</a>
                      </p>
                      <div class="txtArea__findInfo">
                        <a href="../blank.html">카카오계정</a>
                        <a href="../blank.html">비밀번호 찾기</a>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </section>
          </main>
        </div>
      </div>
      <footer class="footer">
        <section class="footer__inner">
          <h1 class="offscreen">회사 서비스 이용</h1>
          <div class="policy">
            <div class="policy-list">
              <ul>
                <li><a href="../blank.html">이용약관</a></li>
                <li><a href="../blank.html">개인정보 처리방침</a></li>
                <li><a href="../blank.html">운영정책</a></li>
                <li><a href="../blank.html">고객센터</a></li>
                <li><a href="../blank.html">공지사항</a></li>
                <li class="language-checked">
                  <a href="javascript:void(0);">한국어</a>
                </li>
              </ul>
            </div>

            <div class="policy-language policy-language--highlighted">
              <span class="offscreen">페이지 언어선택 상자</span>
              <span class="offscreen">언어선택</span>
              <ul class="language">
                <li class="language-selected">
                  <a href="../blank.html">한국어</a>
                </li>
                <li><a href="../blank.html">English</a></li>
                <li><a href="../blank.html">日本語</a></li>
              </ul>
            </div>

            <p class="policy-copyright policy-copyright--highlighted">
              Copyright &copy;<span class="company">Kakao Corp</span>.All
              rights reserved
            </p>
          </div>
        </section>
      </footer>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="../../assets/js/gate/gate.js"></script>
</body>

</html>