<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="kakao_friends_shop" />
  <meta name="Description" content="cloning webpage for portfolio" />
  <meta name="Robots" content="noindex,nofollow" />

  <link rel="icon" href="/public/kakao_favicon_login.ico" />
  <link rel="stylesheet" href="../../assets/style/css/header.css" />
  <link rel="stylesheet" href="../../assets/style/css/footer.css" />
  <link rel="stylesheet" href="../../assets/style/css/logAccount.css" />
  <link rel="stylesheet" href="../../assets/style/css/home.css" />
  <title>카카오 프렌즈샵</title>
</head>

<body>
  <div id="skip-navigation">
    <ul>
      <li><a href="#content-box">본문 바로가기</a></li>
      <li><a href="#main-gnb">메인 메뉴 바로가기</a></li>
    </ul>
  </div>

  <div class="mobile">

    <h1 class="logo">
      <a href="../../index.html">
        <img src="../../assets/img/header/logo.png" alt="KAKAO FRIENDS" />
      </a>
    </h1>

    <header class="header" id="main-gnb">
      <h1 class="offscreen">페이지 네비게이션</h1>
      <div class="header__inner">
        <nav class="header__menu">
          <h1 class="offscreen">글로벌 메뉴</h1>
          <div class="header__left">
            <span class="offscreen">메뉴 왼쪽</span>
            <ul>
              <li class="main">
                <a href="javascript:void(0);" class="banner-btn" role="button">
                  <img src="../../assets/img/header/home.png" alt="홈 아이콘" />
                </a>
                <section class="home">
                  <h1 class="offscreen">사이드 메뉴</h1>
                  <div class="header">
                    <section class="header__inner">
                      <h1 class="offscreen">로그인</h1>
                      <section class="header-login">
                        <h1 class="offscreen">회원,비회원 로그인</h1>
                        <a href="../login/gate.html" class="login" title="새창열림" target="_blank">
                          <span>로그인</span>이 필요해요!
                        </a>
                        <a href="../blank.html">
                          <span class="header-login__txt">비회원 주문조회 &#10095;</span>
                        </a>
                      </section>
                      <section class="header-gnb">
                        <h1 class="offscreen">유저의 상품정보</h1>
                        <ul>
                          <li><a href="../product/cart.html">장바구니</a></li>
                          <li><a href="../blank.html">찜</a></li>
                          <li><a href="../blank.html">주문배송</a></li>
                          <li>
                            <a href="../login/logAccount.html">마이페이지</a>
                          </li>
                        </ul>
                      </section>
                      <button type="button" class="header__btn btn--close">
                        <span class="offscreen">화면종료</span>
                      </button>
                    </section>
                  </div>
                  <div class="contents">
                    <section class="contents__inner">
                      <h1 class="offscreen">상품 카테고리</h1>
                      <div class="contents__ad">
                        <a href="../blank.html">
                          <div class="thumnail">
                            <img src="../../assets/img/pages/home/login__ad.png" alt="@카카오프렌즈 랑 플러스친구하기" />
                          </div>
                        </a>
                      </div>
                      <div class="contents__category">
                        <ul>
                          <li><a href="../blank.html">전체</a></li>
                          <li><a href="../blank.html">테마기획전</a></li>
                          <li><a href="../blank.html">토이</a></li>
                          <li><a href="../blank.html">리빙</a></li>
                          <li><a href="../blank.html">잡화</a></li>
                          <li><a href="../blank.html">문구</a></li>
                          <li><a href="../blank.html">의류</a></li>
                          <li><a href="../blank.html">파자마</a></li>
                          <li><a href="../blank.html">여행/레져</a></li>
                          <li><a href="../blank.html">생활테크</a></li>
                          <li><a href="../blank.html">폰 액세서리</a></li>
                          <li><a href="../blank.html">식품</a></li>
                        </ul>
                      </div>
                      <div class="contents__brand">
                        <ul>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/ryan.png" alt="카카오캐릭터, 라이언" />
                              </div>
                              <span>라이언</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/appeach.png" alt="카카오캐릭터, 어피치" />
                              </div>
                              <span>어피치</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/muzi.png" alt="카카오캐릭터, 무지" />
                              </div>
                              <span>무지</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/prodo.png" alt="카카오캐릭터, 프로도" />
                              </div>
                              <span>프로도</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/neo.png" alt="카카오캐릭터, 네오" />
                              </div>
                              <span>네오</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/tube.png" alt="카카오캐릭터, 튜브" />
                              </div>
                              <span>튜브</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/jayz.png" alt="카카오캐릭터, 제이지" />
                              </div>
                              <span>제이지</span>
                            </a>
                          </li>
                          <li>
                            <a href="../blank.html">
                              <div class="contents__img">
                                <img src="../../assets/img/pages/home/conn.png" alt="카카오캐릭터, 콘" />
                              </div>
                              <span>콘</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="contents__event">
                        <span class="offscreen">행사 이벤트</span>
                        <ul>
                          <li>
                            <a href="../blank.html"><span class="offscreen">SUNDAY CHEEZBALL</span></a>
                          </li>
                          <li>
                            <a href="../blank.html"><span class="offscreen">NINIZ</span></a>
                          </li>
                        </ul>
                      </div>
                      <div class="contents__menu">
                        <ul>
                          <li>
                            <a href="../blank.html">
                              브랜드스토리
                            </a>
                          </li>
                          <li>
                            <a href="../store.html">
                              매장안내
                            </a>
                          </li>
                          <li>
                            <a href="../help/help.html">
                              고객센터
                            </a>
                          </li>
                          <li>
                            <a href="../help/request.html">
                              문의하기
                            </a>
                          </li>
                          <li>
                            <a href="point.html">
                              기프트카드 조회 &middot; 환불
                            </a>
                          </li>
                        </ul>
                      </div>
                    </section>
                  </div>

                  <div class="footer">
                    <section class="footer__inner">
                      <h1 class="offscreen">로그인 탭</h1>
                      <a href="../login/gate.html" class="footer__login">로그인</a>
                    </section>
                  </div>
                </section>

              </li>
              <li class="finder">
                <a href="../search.html">
                  <img src="../../assets/img/header/finder.png" alt="검색 아이콘" />
                </a>
              </li>
            </ul>
          </div>
          <div class="header__right">
            <span class="offscreen">메뉴 오른쪽</span>
            <ul>
              <li class="cart">
                <a href="../product/cart.html">
                  <img src="../../assets/img/header/cart.png" alt="장바구니 아이콘" />
                </a>
              </li>
              <li class="customer">
                <a href="../blank.html">
                  <img src="../../assets/img/header/user.png" alt="언어변경 아이콘" />
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main class="content" id="content-box">
      <h1 class="offscreen">카카오계정 로그인</h1>
      <div class="content__bg">
        <div class="contnet__txt">
          <p class="bold">오늘도 힘차게!!</p>
          <p>로그인을 해주세요!</p>
        </div>
      </div>
      <div class="content__info">
        <a href="gate.html" class="btn__login" role="button">카카오 계정으로 로그인</a>
        <div class="content__attention">
          <strong class="content__title">고객님께 안내 드립니다.</strong>
          <ul class="content__list">
            <li>
              카카오프렌즈 고객님께 다양한 혜택을 드리고자 카카오프렌즈
              회원가입 서비스를 도입하게 되었습니다.<br />
              카카오프렌즈는 회원가입시 최소한의 정보만 수집합니다.
            </li>
            <li>
              기존 구매 고객님께서는 카카오 계정 로그인 후 추가정보를 입력
              해주시면 구매이력과 주문 정보 등의 서비스를 동일하게 이용할 수
              있습니다.
            </li>
          </ul>
        </div>
      </div>
    </main>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="../../assets/js/common.js"></script>
</body>

</html>