<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="kakao_friends_shop" />
    <meta name="Description" content="cloning webpage for portfolio" />
    <meta name="Robots" content="noindex,nofollow" />

    <link rel="icon" href="/public/kakao_favicon.ico" />
    <link rel="stylesheet" href="../assets/style/css/blank.css" />

    <title>카카오프렌즈샵</title>
  </head>

  <body>
    <div class="wrap">
      <main class="content">
        <h1 class="offscreen">에러 페이지</h1>
        <div class="">
          <img src="../assets/img/error.gif" alt="식은땀을 흘리는 튜브" />
        </div>
        <strong
          >...음..여기 페이지는 나....중에..
          <span>;;<span class="offscreen">땀을 삐질삐질 흘리다</span></span>
        </strong>
        <a href="../index.html">홈으로</a>
      </main>
    </div>
  </body>
</html>
