<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="kakao_friends_shop" />
  <meta name="Description" content="cloning webpage for portfolio" />
  <meta name="Robots" content="noindex,nofollow" />

  <link rel="icon" href="../public/kakao_favicon.ico" />
  <link rel="stylesheet" href="../assets/style/css/header.css" />
  <link rel="stylesheet" href="../assets/style/css/hot.css" />
  <link rel="stylesheet" href="../assets/style/css/footer.css" />

  <title>카카오 프렌즈샵</title>
</head>

<body>

  <div id="skip-navigation">
    <ul>
      <li><a href="#content-box">본문 바로가기</a></li>
      <li><a href="#living">리빙 카테고리 바로가기</a></li>
      <li><a href="#mix">잡화 카테고리 바로가기</a></li>
      <li><a href="#fancy">문구 카테고리 바로가기</a></li>
      <li><a href="#clothes">파자마 카테고리 바로가기</a></li>
      <li><a href="#toy">토이 카테고리 바로가기</a></li>
      <li><a href="#phone">폰 액세서리 카테고리 바로가기</a></li>
      <li><a href="#travel">여행/레져 카테고리 바로가기</a></li>
      <li><a href="#tech">생활테크 카테고리 바로가기</a></li>
      <li><a href="#theme">테마기획전 카테고리 바로가기</a></li>
      <li><a href="#main-gnb">메인 메뉴 바로가기</a></li>
    </ul>
  </div>

  <div class="wrap">

    <h1 class="logo">
      <a href="../components/intro.html">
        <img src="../assets/img/header/kakao_logo.png" alt="KAKAO FRIENDS
                                          로고" />
      </a>
    </h1>

    <header class="header">
      <h1 class="offscreen">페이지 네비게이션</h1>
      <div class="header-upper">
        <div class="gnb">
          <div class="gnb-left">
            <ul>
              <li>
                <a href="javascript:void(0);" class="category__btn">카테고리</a>
                <div class="category">
                  <ul class="category__oneDepth">
                    <li>
                      <a href="javascript:void(0);">전체</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">판매량순</a></li>
                        <li><a href="javascript:void(0);">신상품순</a></li>
                        <li><a href="javascript:void(0);">낮은 가격순</a></li>
                        <li><a href="javascript:void(0);">높은 가격순</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">테마 기획전</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">마린 블루</a></li>
                        <li><a href="javascript:void(0);">얌얌프렌즈</a></li>
                        <li><a href="javascript:void(0);">레몬테라스</a></li>
                        <li>
                          <a href="javascript:void(0);">베이비드리밍</a>
                        </li>
                        <li><a href="javascript:void(0);">해피위크</a></li>
                        <li>
                          <a href="javascript:void(0);">강다니엘 에디션</a>
                        </li>
                        <li><a href="javascript:void(0);">치즈프렌즈</a></li>
                        <li>
                          <a href="javascript:void(0);">트와이스 에디션</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">포레스트 라이언</a>
                        </li>
                        <li><a href="javascript:void(0);">허니프렌즈</a></li>
                        <li>
                          <a href="javascript:void(0);">러블리 어피치</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">토이</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">미니인형</a></li>
                        <li><a href="javascript:void(0);">중형인형</a></li>
                        <li><a href="javascript:void(0);">대형인형</a></li>
                        <li><a href="javascript:void(0);">키체인인형</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">리빙</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">쿠션방석</a></li>
                        <li><a href="javascript:void(0);">컵/텀블러</a></li>
                        <li><a href="javascript:void(0);">주방용품</a></li>
                        <li>
                          <a href="javascript:void(0);">미용/욕실용품</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">생활소품/잡화</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">강다니엘 에디션</a>
                        </li>
                        <li><a href="javascript:void(0);">펫 용품</a></li>
                        <li><a href="javascript:void(0);">탈취/방향제</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">잡화</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">쿠션방석</a></li>
                        <li><a href="javascript:void(0);">컵/텀블러</a></li>
                        <li><a href="javascript:void(0);">주방용품</a></li>
                        <li>
                          <a href="javascript:void(0);">미용/욕실용품</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">생활소품/잡화</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">강다니엘 에디션</a>
                        </li>
                        <li><a href="javascript:void(0);">펫 용품</a></li>
                        <li><a href="javascript:void(0);">탈취/방향제</a></li>
                        <li>
                          <a href="javascript:void(0);">포레스트 라이언</a>
                        </li>
                        <li><a href="javascript:void(0);">허니프렌즈</a></li>
                        <li>
                          <a href="javascript:void(0);">러블리 어피치</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">문구</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">필기구</a></li>
                        <li><a href="javascript:void(0);">필통/케이스</a></li>
                        <li><a href="javascript:void(0);">노트/메모</a></li>
                        <li><a href="javascript:void(0);">파일</a></li>
                        <li><a href="javascript:void(0);">스티커</a></li>
                        <li><a href="javascript:void(0);">데스크 소품</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">의류</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">여성</a></li>
                        <li><a href="javascript:void(0);">남성</a></li>
                        <li><a href="javascript:void(0);">속옷</a></li>
                        <li><a href="javascript:void(0);">양말</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">파자마</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">여성</a></li>
                        <li><a href="javascript:void(0);">남성</a></li>
                        <li><a href="javascript:void(0);">키즈</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">여행/레져</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">여헹</a></li>
                        <li><a href="javascript:void(0);">레져</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">생활테크</a>
                      <ul class="category__twoDepth">
                        <li>
                          <a href="javascript:void(0);">노트북 액세서리</a>
                        </li>
                        <li><a href="javascript:void(0);">소형 전자</a></li>
                        <li>
                          <a href="javascript:void(0);">에어팟 케이스</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">에어팟 액세서리</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">폰 액세서리</a>
                      <ul class="category__twoDepth">
                        <li>
                          <a href="javascript:void(0);">휴대폰 케이스</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">휴대폰 액세서리</a>
                        </li>
                        <li><a href="javascript:void(0);">충전기</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">식품</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">스낵</a></li>
                        <li><a href="javascript:void(0);">음료</a></li>
                      </ul>
                    </li>
                  </ul>
                  <div class="category__adv">
                    <ul>
                      <li>
                        <a href="javascript:void(0);" class="ryan">
                          <img src="../assets/img/header/header_ryan.png" alt="라이언 이미지" />
                          <span>라이언</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="apeach">
                          <img src="../assets/img/header/header_appeach.png" alt="어피치 이미지" />
                          <span>어피치</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="muzi">
                          <img src="../assets/img/header/header_muzi.png" alt="무지 이미지" />
                          <span>무지</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="prodo">
                          <img src="../assets/img/header/header_prodo.png" alt="프로도 이미지" />
                          <span>프로도</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="neo">
                          <img src="../assets/img/header/header_neo.png" alt="네오 이미지" />
                          <span>네오</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="tube">
                          <img src="../assets/img/header/header_tube.png" alt="네오 이미지" />
                          <span>튜브</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="jayz">
                          <img src="../assets/img/header/header_jayz.png" alt="제이지 이미지" />
                          <span>제이지</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="con">
                          <img src="../assets/img/header/header_con.png" alt="콘 이미지" />
                          <span>콘</span>
                        </a>
                      </li>
                    </ul>
                    <div>
                      <a href="javascript:void(0);">
                        <img src="../assets/img/header/banner_cheese.png" alt="SUNDAY CHEEZZZBALL" />
                        <span class="offscreen">sunday cheezeball 배너</span>
                      </a>

                      <a href="javascript:void(0);">
                        <img src="../assets/img/header/banner_niniz.png" alt="NINIZ" />
                        <span class="offscreen">miniz 배너</span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="store.html">매장안내</a>
              </li>
              <li>
                <a href="help/help.html">고객센터</a>
              </li>
            </ul>
          </div>
          <div class="gnb-right">
            <ul>
              <li class="gnb__popular">
                <div class="popular">
                  <strong class="popular_title">신규상품(5)</strong>
                  <div class="slide_box">
                    <div class="slide">
                      <ul>
                        <li><a href="javascript:void(0);">1. 목걸이형 & 핸디형 선풍기</a></li>
                        <li><a href="javascript:void(0);">2. 프렌즈 물놀이템</a></li>
                        <li><a href="javascript:void(0);">3. 프렌즈 무드등 모음</a></li>
                        <li><a href="javascript:void(0);">4. 프렌즈 데스트템 모음</a></li>
                        <li><a href="javascript:void(0);">5. 프렌즈 청소템 모음</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="slide_buttons">
                    <button type="button" class="slide_btn slide_start">
                      <span class="offscreen">배너 재생</span>
                    </button>
                    <button type="button" class="slide_btn slide_stop">
                      <span class="offscreen">배너 정지</span>
                    </button>
                  </div>
                  <div class="slide_shortcut">
                    <strong class="offscreen">신규상품 리스트</strong>
                    <ul>
                      <li><a href="javascript:void(0);">1. 목걸이형 & 핸디형 선풍기</a></li>
                      <li><a href="javascript:void(0);">2. 프렌즈 물놀이템</a></li>
                      <li><a href="javascript:void(0);">3. 프렌즈 무드등 모음</a></li>
                      <li><a href="javascript:void(0);">4. 프렌즈 데스트템 모음</a></li>
                      <li><a href="javascript:void(0);">5. 프렌즈 청소템 모음</a></li>
                    </ul>

                  </div>
                </div>

              </li>
              <li class="gnb__finder">
                <a href="javascript:void(0);">
                  <img src="../assets/img/header/finder.png" alt="상품 검색" />
                </a>
              </li>
              <li class="gnb__login">
                <a href="../components/login/logAccount.html">
                  <img src="../assets/img/header/user.png" alt="회원정보" />
                </a>
                <ul class="gnb__userData">
                  <li><a href="../components/login/gate.html">로그인</a></li>
                  <li><a href="blank.html">주문내역</a></li>
                  <li><a href="blank.html">찜</a></li>
                  <li><a href="blank.html">취소 및 교환</a></li>
                  <li><a href="blank.html">포인트</a></li>
                  <li><a href="blank.html">1:1 문의</a></li>
                  <li><a href="javascript:void(0);">비회원 주문조회</a></li>
                  <li>
                    <a href="javascript:void(0);">기프트카드 조회.환불</a>
                  </li>
                </ul>
              </li>
              <li class="gnb__items">
                <a href="blank.html;">
                  <img src="../assets/img/header/basket.png" alt="장바구니" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="lnb">
          <ul>
            <li>
              <a href="intro.html">홈</a>
            </li>
            <li class="on">
              <a href="hot.html">인기</a>
            </li>
            <li>
              <a href="sale.html">세일</a>
            </li>
            <li>
              <a href="total.html">전체</a>
            </li>
          </ul>
        </div>
        <div class="search-keyword">
          <div class="search-keyword__wrapper">
            <div class="search-keyword__group">
              <form action="#" method="post">
                <fieldset>
                  <legend class="offscreen">키워드 검색</legend>
                  <div class="search-keyword__inputBox">
                    <input type="text" name="keyword" id="totSearchkeyword" placeholder="검색어를 입력하세요"
                      title="검색어를 입력하세요" />
                    <button type="button" class="search-keyword__btn-search" onclick="keyword_search()">
                      <span class="offscreen">검색</span>
                    </button>
                  </div>
                  <div class="search-keyword__keyword-list">
                    <strong class="search-keyword__keyword-title">인기 검색어</strong>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">충전거치대</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">라이언</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">선풍기</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">어피치</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">우산</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">인형</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">텀블러</span></a>
                      </li>
                    </ul>
                  </div>
                  <button type="button" class="search-keyword__btn-cancel" id="closeSearch">
                    <span class="offscreen">검색창 닫기</span>
                  </button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="content" id="content-box">
      <h1 class="offscreen">카카오 프렌즈샵 카테고리별 인기상품</h1>
      <section class="section__title hot" id="living">
        <h1 class="offscreen">리빙 카테고리</h1>
        <div class="section__category">
          <ul class="section__list hot__living-list">
            <li class="section__title hot__living-title">
              <strong>리빙</strong>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/living/living_rank_01.png" alt="무선핸디청소기_리틀라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">1</span>
                  <strong class="section__item-title">탁상시계_고속<br>무선충전_라이언</strong>
                  <span class="section__item-price">49,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/living/living_rank_02.png" alt="페이스리드빨대컵_죠르디">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">2</span>
                  <strong class="section__item-title">페이스리드빨대컵<br>_죠르디</strong>
                  <span class="section__item-price">18,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/living/living_rank_03.png" alt="[온라인 전용]손목보호인형 리틀라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">3</span>
                  <strong class="section__item-title">[온라인 전용]<br>손목보호인형 리틀라이언</strong>
                  <span class="section__item-price">32,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/living/living_rank_04.png" alt="카카오프렌즈 썸머쿨패치">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">4</span>
                  <strong class="section__item-title">카카오프렌즈<br> 썸머쿨패치</strong>
                  <span class="section__item-price">4,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail  hot__living-thumnail">
                  <img src="../assets/img/pages/hot/living/living_rank_05.png" alt="페이스말랑손목쿠션 죠르디">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">5</span>
                  <strong class="section__item-title">페이스말랑손목쿠션<br> 죠르디</strong>
                  <span class="section__item-price">4,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/living/living_rank_06.png" alt="포레스트 시원한블랭킷 라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">6</span>
                  <strong class="section__item-title">포레스트<br> 시원한블랭킷 라이언</strong>
                  <span class="section__item-price">25,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
          </ul>
          <button type="button" class="section__btn hot__more">
            <span>리빙 제품 더보기</span>
          </button>
        </div>
      </section>

      <section class="section__title mix" id="mix">
        <h1 class="offscreen">잡화 카테고리</h1>
        <div class="section__category">
          <ul class="section__list hot__mix-list">
            <li class="section__title hot__mix-title">
              <strong>잡화</strong>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/mix/mix_rank_01.png" alt="피규어키링_사과죠르디">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">1</span>
                  <strong class="section__item-title">피규어키링<br>_사과죠르디</strong>
                  <span class="section__item-price">12,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/mix/mix_rank_02.png" alt="[온라인 전용]탁상 선풍기_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">2</span>
                  <strong class="section__item-title">[온라인 전용]<br>탁상 선풍기_라이언</strong>
                  <span class="section__item-price">39,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/mix/mix_rank_03.png" alt="데일리 장우산 라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">3</span>
                  <strong class="section__item-title">데일리 장우산<br> 라이언 리틀라이언</strong>
                  <span class="section__item-price">15,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/mix/mix_rank_04.png" alt="큐브 에어팟키링_리틀라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">4</span>
                  <strong class="section__item-title">큐브 에어팟키링<br>_리틀라이언</strong>
                  <span class="section__item-price">11,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail  hot__living-thumnail">
                  <img src="../assets/img/pages/hot/mix/mix_rank_05.png" alt="카드&동전지갑_리틀라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">5</span>
                  <strong class="section__item-title">카드&동전지갑<br>_리틀라이언</strong>
                  <span class="section__item-price">15,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/mix/mix_rank_06.png" alt="소프트멀티파우치_죠르디">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">6</span>
                  <strong class="section__item-title">소프트멀티파우치<br>_죠르디</strong>
                  <span class="section__item-price">14,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
          </ul>
          <button type="button" class="section__btn mix__more">
            <span>잡화 제품 더보기</span>
          </button>
        </div>
      </section>

      <section class="section__title fancy" id="fancy">
        <h1 class="offscreen">문구 카테고리</h1>
        <div class="section__category">
          <ul class="section__list hot__fancy-list">
            <li class="section__title hot__fancy-title">
              <strong>문구</strong>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/fancy/fancy_rank_01.png" alt="탁상시계_고속무선충전_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">1</span>
                  <strong class="section__item-title">탁상시계_<br>고속무선충전_라이언</strong>
                  <span class="section__item-price">49000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/fancy/fancy_rank_02.png" alt="마우스패드_죠르디">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">2</span>
                  <strong class="section__item-title">마우스패드<br>_죠르디</strong>
                  <span class="section__item-price">5,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/fancy/fancy_rank_03.png" alt="포레스트 피규어 펜홀더_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">3</span>
                  <strong class="section__item-title">포레스트<br> 피규어 펜홀더_라이언</strong>
                  <span class="section__item-price">19,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/fancy/fancy_rank_04.png" alt="해피위크 장마우스패드">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">4</span>
                  <strong class="section__item-title">해피위크 장마우스패드</strong>
                  <span class="section__item-price">19,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail  hot__living-thumnail">
                  <img src="../assets/img/pages/hot/fancy/fancy_rank_05.png" alt="해피위크_하드탑 필통_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">5</span>
                  <strong class="section__item-title">해피위크_<br>하드탑 필통_라이언</strong>
                  <span class="section__item-price">17,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/fancy/fancy_rank_06.png" alt="레몬테라스 노트펜세트 라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">6</span>
                  <strong class="section__item-title">레몬테라스<br> 노트펜세트 라이언</strong>
                  <span class="section__item-price">8,500<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
          </ul>
          <button type="button" class="section__btn fancy__more">
            <span>문구 제품 더보기</span>
          </button>
        </div>
      </section>

      <section class="section__title clothes" id="clothes">
        <h1 class="offscreen">파자마 카테고리</h1>
        <div class="section__category">
          <ul class="section__list hot__clothes-list">
            <li class="section__title hot__clothes-title">
              <strong>파자마</strong>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/clothes/clothes_rank_01.png" alt="마린 시어서커 여성 상하의 파자마_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">1</span>
                  <strong class="section__item-title">마린 시어서커<br> 여성 상하의 파자마_라이언</strong>
                  <span class="section__item-price">49,900<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/clothes/clothes_rank_02.png" alt="마린 시어서커 남성 상하의 파자마_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">2</span>
                  <strong class="section__item-title">마린 시어서커<br> 남성 상하의 파자마_라이언</strong>
                  <span class="section__item-price">49,900<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/clothes/clothes_rank_03.png" alt="마린 남성 상하의 파자마_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">3</span>
                  <strong class="section__item-title">마린<br> 남성 상하의 파자마_라이언</strong>
                  <span class="section__item-price">49,900<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/clothes/clothes_rank_04.png" alt="마린 시어서커 여성 슬리브리스 파자마_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">4</span>
                  <strong class="section__item-title">마린 시어서커<br> 여성 슬리브리스 파자마<br>_라이언</strong>
                  <span class="section__item-price">39,900<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="section__title toy" id="toy">
        <h1 class="offscreen">토이 카테고리</h1>
        <div class="section__category">
          <ul class="section__list hot__toy-list">
            <li class="section__title hot__toy-title">
              <strong>토이</strong>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/toy/toy_rank_01.png" alt="칩스 죠르디 인형">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">1</span>
                  <strong class="section__item-title">칩스<br> 죠르디 인형</strong>
                  <span class="section__item-price">39,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/toy/toy_rank_02.png" alt="리틀프렌즈피규어세트">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">2</span>
                  <strong class="section__item-title">리틀프렌즈<br>피규어세트</strong>
                  <span class="section__item-price">29,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/toy/toy_rank_03.png" alt="페이스 말랑쿠션 라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">3</span>
                  <strong class="section__item-title">페이스 말랑쿠션<br> 라이언</strong>
                  <span class="section__item-price">36,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/toy/toy_rank_04.png" alt="피규어키링 리틀어피치">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">4</span>
                  <strong class="section__item-title">피규어키링<br> 리틀어피치</strong>
                  <span class="section__item-price">10,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail  hot__living-thumnail">
                  <img src="../assets/img/pages/hot/toy/toy_rank_05.png" alt="[온라인 전용]얌얌인형 리틀어피치">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">5</span>
                  <strong class="section__item-title">[온라인 전용]<br>얌얌인형 리틀어피치</strong>
                  <span class="section__item-price">22,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/toy/toy_rank_06.png" alt="피규어 에어팟키링_어피치">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">6</span>
                  <strong class="section__item-title">피규어<br> 에어팟키링_어피치</strong>
                  <span class="section__item-price">9,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
          </ul>
          <button type="button" class="section__btn toy__more">
            <span>토이 제품 더보기</span>
          </button>
        </div>
      </section>

      <section class="section__title phone" id="phone">
        <h1 class="offscreen">폰 액세서리 카테고리</h1>
        <div class="section__category">
          <ul class="section__list hot__phone-list">
            <li class="section__title hot__phone-title">
              <strong>폰 액세서리</strong>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/phone/phone_rank_01.png" alt="10,000mAh 고속보조배터리_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">1</span>
                  <strong class="section__item-title">10,000mAh<br> 고속보조배터리_라이언</strong>
                  <span class="section__item-price">59,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/phone/phone_rank_02.png" alt="10,000mAh 고속보조배터리_어피치">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">2</span>
                  <strong class="section__item-title">10,000mAh<br> 고속보조배터리_어피치</strong>
                  <span class="section__item-price">59,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/phone/phone_rank_03.png" alt="릴타입 3in1 케이블_어피치">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">3</span>
                  <strong class="section__item-title">릴타입<br> 3in1 케이블_어피치</strong>
                  <span class="section__item-price">18,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/phone/phone_rank_04.png" alt="잔량표기보조배터리10000mAh_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">4</span>
                  <strong class="section__item-title">잔량표기<br>보조배터리10000mAh_라이언</strong>
                  <span class="section__item-price">39,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail  hot__living-thumnail">
                  <img src="../assets/img/pages/hot/phone/phone_rank_05.png" alt="릴타입 3in1 케이블_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">5</span>
                  <strong class="section__item-title">릴타입<br> 3in1 케이블_라이언</strong>
                  <span class="section__item-price">22,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="section__title travel" id="travel">
        <h1 class="offscreen">여행/레져 카테고리</h1>
        <div class="section__category">
          <ul class="section__list hot__travel-list">
            <li class="section__title hot__travel-title">
              <strong>여행/레져</strong>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/travel/travel_rank_01.png" alt="해먹튜브_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">1</span>
                  <strong class="section__item-title">해먹튜브<br>_라이언</strong>
                  <span class="section__item-price">39,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/travel/travel_rank_02.png" alt="체어링튜브_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">2</span>
                  <strong class="section__item-title">체어링튜브<br>_라이언</strong>
                  <span class="section__item-price">27,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/travel/travel_rank_03.png" alt="글리터링튜브_어피치">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">3</span>
                  <strong class="section__item-title">글리터링튜브<br>_어피치</strong>
                  <span class="section__item-price">27,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/travel/travel_rank_04.png" alt="비어매트튜브_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">4</span>
                  <strong class="section__item-title">비어매트튜브<br>_라이언</strong>
                  <span class="section__item-price">49,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="section__title tech" id="tech">
        <h1 class="offscreen">생활테크 카테고리</h1>
        <div class="section__category">
          <ul class="section__list hot__tech-list">
            <li class="section__title hot__tech-title">
              <strong>생활테크</strong>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/tech/tech_rank_01.png" alt="스마트 체중계">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">1</span>
                  <strong class="section__item-title">스마트<br> 체중계</strong>
                  <span class="section__item-price">169,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/tech/tech_rank_02.png" alt="그린노트북파우치(13인치)_죠르디">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">2</span>
                  <strong class="section__item-title">그린노트북<br>파우치(13인치)_죠르디</strong>
                  <span class="section__item-price">38,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/tech/tech_rank_03.png" alt="블랙노트북파우치(15인치)_죠르디">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">3</span>
                  <strong class="section__item-title">블랙노트북<br>파우치(15인치)_죠르디</strong>
                  <span class="section__item-price">42,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/tech/tech_rank_04.png" alt="목걸이형 선풍기 어피치">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">4</span>
                  <strong class="section__item-title">목걸이형<br> 선풍기 어피치</strong>
                  <span class="section__item-price">18,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail  hot__living-thumnail">
                  <img src="../assets/img/pages/hot/tech/tech_rank_05.png" alt="폴딩 핸디형 선풍기 라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">5</span>
                  <strong class="section__item-title">폴딩 핸디형<br> 선풍기 라이언</strong>
                  <span class="section__item-price">25,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/tech/tech_rank_06.png" alt="오토 차량용 고속충전 핸드폰 거치대_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">6</span>
                  <strong class="section__item-title">오토 차량용<br>고속충전<br> 핸드폰 거치대_라이언</strong>
                  <span class="section__item-price">55,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
          </ul>
          <button type="button" class="section__btn tech__more">
            <span>생활테크 제품 더보기</span>
          </button>
        </div>
      </section>

      <section class="section__title theme" id="theme">
        <h1 class="offscreen">테마기획전 카테고리</h1>
        <div class="section__category">
          <ul class="section__list hot__theme-list">
            <li class="section__title hot__theme-title">
              <strong>테마기획전</strong>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/theme/theme_rank_01.png" alt="[온라인 전용] 비치펍 대왕감자튀김 토이">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">1</span>
                  <strong class="section__item-title">[온라인 전용]<br>비치펍 대왕감자튀김 토이</strong>
                  <span class="section__item-price">36,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/theme/theme_rank_02.png" alt="비치펍 베이비필로우_랍스터어피치">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">2</span>
                  <strong class="section__item-title">비치펍<br> 베이비필로우_랍스터어피치</strong>
                  <span class="section__item-price">15,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/theme/theme_rank_03.png" alt="비치펍 베이비필로우_소라게라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">3</span>
                  <strong class="section__item-title">비치펍<br> 베이비필로우_소라게라이언</strong>
                  <span class="section__item-price">15,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/tech/tech_rank_04.png" alt="비치펍 리버서블 인형_햄버거라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">4</span>
                  <strong class="section__item-title">비치펍<br>리버서블 인형_햄버거라이언</strong>
                  <span class="section__item-price">35,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail  hot__living-thumnail">
                  <img src="../assets/img/pages/hot/tech/tech_rank_05.png" alt="마린 쿨링바디필로우_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">5</span>
                  <strong class="section__item-title">마린<br> 쿨링바디필로우_라이언</strong>
                  <span class="section__item-price">39,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
            <li class="section__item">
              <a href="../components/blank.html">
                <div class="section__item-thumnail">
                  <img src="../assets/img/pages/hot/tech/tech_rank_06.png" alt="비치펍  무드방향제_라이언">
                </div>
                <div class="section__item-info">
                  <span class="section__item-rank">6</span>
                  <strong class="section__item-title">비치펍<br> 무드방향제_라이언</strong>
                  <span class="section__item-price">25,000<span class="price-unit">원</span></span>
                </div>
              </a>
            </li>
          </ul>
          <button type="button" class="section__btn theme__more">
            <span>생활테크 제품 더보기</span>
          </button>
        </div>
      </section>

      <div class="click-to-top">
        <button type="button" class="btn-top">
          <span class="offscreen">페이지 상단으로 이동</span>
        </button>
      </div>

    </main>

    <footer class="footer">
      <h1 class="offscreen">카카오 프렌즈샵 쇼핑몰 정보</h1>
      <div class="footer__upper">
        <div class="brand">
          <span class="brand__title">친구들이 궁금해요? 지금바로 만나보세요!</span>
          <div class="brand__link">
            <a href="../components/blank.html">카카오프렌즈 소개</a>
            <a href="../components/blank.html">브랜드 스토리</a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <strong class="offscreen">카카오프렌즈 회사정보</strong>
        <div class="company">
          <div class="policy">
            <a href="../components/blank.html">개인정보처리방침</a>
            <a href="../components/blank.html">이용약관</a>
            <a href="../components/blank.html">제휴문의</a>
          </div>
          <address class="info">
            <span class="info__address">카카오아이엑스 사업자등록번호:354-86-0070</span>
            <span class="info__address">통신판매업 신고번호 : 2017-서울강남-02573</span>
            <span class="info__address">대표이사 : 권승조</span>
            <span class="info__address">주소 : 서울특별시 강남구 테헤란로 521 파르나스타워, 27층</span>
            <span class="info__address">고객센터 : 1577-6263 / 평일 10시 ~ 18시</span>
            <span class="info__address">
              <a href="mailto:store@kakaofriends.com">store@kakaofriends.com</a>
            </span>
            <span class="info__address">글로벌 배송 문의 :
              <a href="mailto:global@kakaofriends.com">global@kakaofriends.com</a>
            </span>
          </address>
          <div class="contact">
            <span class="contact__copyright">
              Copyright &copy; KAKAO IX CORP.
            </span>
            <div class="contact__familySite">
              <button><span>패밀리사이트</span></button>
              <ul>
                <li>
                  <a href="https://www.daum.net/" class="daum" title="새창열림" target="_blank">다음</a>
                </li>
                <li>
                  <a href="https://brunch.co.kr/" class="brunch" title="새창열림" target="_blank">브런치</a>
                </li>
                <li>
                  <a href="https://map.kakao.com/" class="kamap" title="새창열림" target="_blank">카카오맵</a>
                </li>
                <li>
                  <a href="https://www.kakaocorp.com/service/KakaoMetro" class="kasubway" title="새창열림"
                    target="_blank">카카오지하철</a>
                </li>
                <li>
                  <a href="https://www.kakaocorp.com/service/KakaoTalk" class="katalk" title="새창열림"
                    target="_blank">카카오톡</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="../assets/js/common.js"></script>
  <script src="../assets/js/hot/hot.js"></script>
</body>

</html>