@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

html,
body {
  font-size: 15px;
  font-family: NotoSans-Regular, AppleSDGothicNeo-Regular, "맑은 고딕", Malgun Gothic, "돋움", dotum, sans-serif;
}

.mobile .footer .family-site {
  padding: 2.66667vw 0 2.66667vw 2.66667vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #2e2e2e;
  background: #3c404b;
}

.mobile .footer .family-site .family-site__header .family-site__title {
  float: left;
  font-size: 0.93333rem;
  color: #fff;
}

.mobile .footer .family-site .family-site__header .family-site__btn {
  display: block;
  float: right;
  position: relative;
  top: 1.0666666666666667vw;
  right: 5.6000000000000005vw;
  width: 1.866666666666667vw;
  height: 3.2vw;
  background: url("../../img/footer/show__more.png") center center no-repeat;
}

.mobile .footer .family-site .family-site__header:after {
  content: " ";
  display: block;
  clear: both;
}

.mobile .footer .family-site .family-site__contents {
  display: none;
  padding-top: 2.66667vw;
}

.mobile .footer .family-site .family-site__contents ul {
  font-size: 0;
}

.mobile .footer .family-site .family-site__contents ul li {
  display: inline-block;
  padding-right: 2.66667vw;
  border-radius: 2.666666666666667vw;
}

.mobile .footer .family-site .family-site__contents ul li a {
  display: block;
  width: 10.666666666666668vw;
  height: 10.666666666666668vw;
}

.mobile .footer .family-site .family-site__contents ul li a .family-site__icon img {
  width: 100%;
  height: auto;
  border-radius: 2.666666666666667vw;
}

.mobile .footer .friends {
  padding: 20px 0px 17px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../../img/footer/brand__more.png") #3c404b top 5px left 2.93333vw no-repeat;
}

.mobile .footer .friends .friends__link {
  padding-left: 18.4vw;
  background: url("../../img/footer/show__more.png") center right 5.86667vw no-repeat;
}

.mobile .footer .friends .friends__link a {
  font-size: 0.93333rem;
  color: #fff;
}

.mobile .footer .company .company__info {
  font-size: 0.8rem;
  color: #bdbdbd;
  padding: 10px 10px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #2e2e2e;
}

.mobile .footer .company .company__info .company__policy {
  margin-top: 4.26667vw;
}

.mobile .footer .company .company__info .company__policy ul {
  font-size: 0;
}

.mobile .footer .company .company__info .company__policy ul li {
  display: inline-block;
  padding-right: 3.2vw;
}

.mobile .footer .company .company__info .company__policy ul li a {
  font-size: 0.8rem;
  color: #bdbdbd;
}

.mobile .footer .company .company__info .address p {
  font-style: normal;
  padding: 0.26666666666666666vw 0;
}

.mobile .footer .company .company__info .address .registeration-num {
  margin: 5.33333vw 0 4.53333vw 0;
  font-style: normal;
}

.mobile .footer .company .company__info .address a {
  display: block;
  font-size: 0.8rem;
  color: #bdbdbd;
}

.mobile .footer .company .company__info .copyright {
  margin: 36px 0px 31px 0px;
}

@media (min-width: 414px) and (max-width: 660px) {
  body .mobile .footer .family-site {
    padding: 2.66667vw 0 2.66667vw 2.66667vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 1px solid #2e2e2e;
    background: #3c404b;
  }
  body .mobile .footer .company .company__info {
    padding: 10px, 10px, 10px, 19px;
  }
  body .mobile .footer .company .company__info .company__policy {
    margin-top: 29px;
  }
  body .mobile .footer .company .company__info .address .registeration-num {
    margin: 30px 0px 0px 0px;
  }
  body .mobile .footer .company .company__info .address a {
    display: inline-block;
  }
  body .mobile .footer .company .company__info .copyright {
    margin: 6.66667vw 0 5.86667vw 0;
  }
}

@media (min-width: 662px) and (max-width: 667px) {
  body .mobile .footer .family-site {
    padding: 2.66667vw 0 2.66667vw 2.66667vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 1px solid #2e2e2e;
    background: #3c404b;
  }
  body .mobile .footer .family-site .family-site__header .family-site__title {
    float: left;
    font-size: 0.93333rem;
    color: #fff;
  }
  body .mobile .footer .family-site .family-site__header .family-site__btn {
    display: block;
    float: right;
    position: relative;
    top: 1.0666666666666667vw;
    right: 5.6000000000000005vw;
    width: 1.866666666666667vw;
    height: 3.2vw;
    background: url("../../img/footer/show__more.png") center center no-repeat;
  }
  body .mobile .footer .family-site .family-site__header:after {
    content: " ";
    display: block;
    clear: both;
  }
  body .mobile .footer .family-site .family-site__contents {
    display: none;
    padding-top: 2.66667vw;
  }
  body .mobile .footer .family-site .family-site__contents ul {
    font-size: 0;
  }
  body .mobile .footer .family-site .family-site__contents ul li {
    display: inline-block;
    padding-right: 2.66667vw;
    border-radius: 2.666666666666667vw;
  }
  body .mobile .footer .family-site .family-site__contents ul li a {
    display: block;
    width: 10.666666666666668vw;
    height: 10.666666666666668vw;
  }
  body .mobile .footer .family-site .family-site__contents ul li a .family-site__icon img {
    width: 100%;
    height: auto;
    border-radius: 2.666666666666667vw;
  }
  body .mobile .footer .friends {
    padding: 20px 0px 17px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("../../img/footer/brand__more.png") #3c404b top 5px left 2.93333vw no-repeat;
  }
  body .mobile .footer .friends .friends__link {
    padding-left: 18.4vw;
    background: url("../../img/footer/show__more.png") center right 5.86667vw no-repeat;
  }
  body .mobile .footer .friends .friends__link a {
    font-size: 0.93333rem;
    color: #fff;
  }
  body .mobile .footer .company .company__info {
    font-size: 0.8rem;
    color: #bdbdbd;
    padding: 10px 10px 10px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #2e2e2e;
  }
  body .mobile .footer .company .company__info .company__policy {
    margin-top: 4.26667vw;
  }
  body .mobile .footer .company .company__info .company__policy ul {
    font-size: 0;
  }
  body .mobile .footer .company .company__info .company__policy ul li {
    display: inline-block;
    padding-right: 3.2vw;
  }
  body .mobile .footer .company .company__info .company__policy ul li a {
    font-size: 0.8rem;
    color: #bdbdbd;
  }
  body .mobile .footer .company .company__info .address p {
    font-style: normal;
    padding: 0.26666666666666666vw 0;
  }
  body .mobile .footer .company .company__info .address .registeration-num {
    margin: 5.33333vw 0 4.53333vw 0;
    font-style: normal;
  }
  body .mobile .footer .company .company__info .address a {
    display: block;
    font-size: 0.8rem;
    color: #bdbdbd;
  }
  body .mobile .footer .company .company__info .copyright {
    margin: 6.66667vw 0 5.86667vw 0;
  }
}

@media (min-width: 668px) and (max-width: 736px) {
  body .mobile .footer .family-site .family-site__header .family-site__title {
    font-size: 1.46667rem;
  }
  body .mobile .footer .family-site .friends {
    padding: 13px 0px 13px 0px;
  }
  body .mobile .footer .family-site .friends .friends__link a {
    display: inline-block;
    font-size: 1.46667rem;
  }
  body .mobile .footer .family-site .company .company__info .address .registeration-num {
    margin: 29px 0px 0px 0px;
    font-style: normal;
  }
  body .mobile .footer .family-site .company .company__info .address a {
    display: inline-block;
  }
  body .mobile .footer .family-site .company .company__info .copyright {
    margin: 59px 0px 31px 0px;
  }
}
