@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

html,
body {
  font-size: 15px;
  font-family: NotoSans-Regular, AppleSDGothicNeo-Regular, "맑은 고딕", Malgun Gothic, "돋움", dotum, sans-serif;
}

.mobile .content {
  width: 100%;
}

.mobile .content .agreement__emailHas {
  margin: 0 auto;
}

.mobile .content .agreement__emailHas .link-prev {
  display: block;
  width: 2.933333333333333vw;
  height: 5.066666666666666vw;
  margin: 1.6vw 0 8vw 0.5333333333333333vw;
  background: url("../../img/pages/login/link_prev.png") no-repeat;
}

.mobile .content .agreement__emailHas .agreement__inner {
  position: relative;
  width: 100%;
  padding: 2.666666666666667vw 4.266666666666667vw 0 4.266666666666667vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile .content .agreement__emailHas .agreement__inner .agreement__title p {
  display: block;
  font-size: 1.2rem;
  color: #717171;
}

.mobile .content .agreement__emailHas .agreement__inner .agreement__title p + p {
  padding-top: 2.666666666666667vw;
}

.mobile .content .agreement__emailHas .agreement__inner .form {
  margin-top: 6.666666666666667vw;
}

.mobile .content .agreement__emailHas .agreement__inner .form .form__agreeAll {
  border-bottom: 0.26666666666666666vw solid #f2f2f2;
}

.mobile .content .agreement__emailHas .agreement__inner .form .form__agreeAll strong {
  font-size: 1rem;
  color: #000;
  font-family: "NotoSansKR", "Roboto";
}

.mobile .content .agreement__emailHas .agreement__inner .form .form__agreeAll input[type="checkbox"] + label .chkbox {
  display: inline-block;
  height: 6.666666666666667vw;
  line-height: 4.533333333333333vw;
  font-size: 1.13333rem;
  color: #333;
  padding: 0.26666666666666666vw 0 0 7.466666666666668vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  background: url("../../img/pages/login/status__unchecked.png") no-repeat;
  cursor: pointer;
}

.mobile .content .agreement__emailHas .agreement__inner .form .form__agreeAll input[type="checkbox"]:checked + label .chkbox {
  background: url("../../img/pages/login/status__checked.png") no-repeat;
}

.mobile .content .agreement__emailHas .agreement__inner .form .form__each input[type="checkbox"] {
  position: absolute;
  width: 0.26666666666666666vw;
  height: 0.26666666666666666vw;
  margin: -0.26666666666666666vw;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.mobile .content .agreement__emailHas .agreement__inner .form .form__each input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  font-size: 0.93333rem;
  font-weight: bold;
  color: #535353;
  letter-spacing: -0.26666666666666666vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.mobile .content .agreement__emailHas .agreement__inner .form .form__each input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 5.333333333333334vw;
  height: 5.333333333333334vw;
  line-height: 5.333333333333334vw;
  vertical-align: top;
  padding-top: 0.5333333333333333vw;
  margin-right: 2.1333333333333333vw;
  border-radius: 1.3333333333333335vw;
  background: url("../../img/pages/login/agreement__unchecked.png") no-repeat;
}

.mobile .content .agreement__emailHas .agreement__inner .form .form__each input[type="checkbox"]:checked + label:before {
  content: "";
  display: inline-block;
  width: 5.333333333333334vw;
  height: 5.333333333333334vw;
  line-height: 5.333333333333334vw;
  border-radius: 1.3333333333333335vw;
  vertical-align: top;
  padding-top: 0.5333333333333333vw;
  background: url("../../img/pages/login/agreement__checked.png") no-repeat;
}

.mobile .content .agreement__emailHas .agreement__inner .form .form__each label span {
  font-size: 0.8rem;
  font-weight: lighter;
}

.mobile .content .agreement__emailHas .agreement__inner .form .form__each .agree-txt {
  font-size: 0.66667rem;
  color: #c3c3c3;
  line-height: 1.7;
  padding: 2.1333333333333333vw 4.8vw 4.8vw 7.466666666666668vw;
}

.mobile .content .agreement__emailHas .agreement__inner .form ul {
  padding: 4.266666666666667vw 0 3.4666666666666663vw 0;
  border-top: 0.26666666666666666vw solid #fdfdfd;
}

.mobile .content .agreement__emailHas .agreement__inner .form ul li {
  padding-bottom: 3.733333333333334vw;
  position: relative;
}

.mobile .content .agreement__emailHas .agreement__inner .form ul li .agreement__more {
  display: block;
  position: absolute;
  width: 2.1333333333333333vw;
  height: 3.733333333333334vw;
  top: 1.0666666666666667vw;
  right: 0;
  background: url("../../img/pages/login/agreement__more.png") no-repeat;
}

.mobile .content .agreement__emailHas .agreement__inner .form .agree__btn {
  display: block;
  width: 100%;
  text-align: center;
  color: #959595;
  font-size: 0.86667rem;
  padding: 3.2vw 0 3.2vw 0;
  background: #f6f6f6;
  border-radius: 1.3333333333333335vw;
}

.mobile .content .agreement__emailHas .agreement__inner .form .agree__btn.on {
  background: #ffe500;
}

@media screen and (min-width: 667px) {
  .mobile .content {
    width: 100%;
  }
  .mobile .content .agreement__emailHas {
    margin: 0 auto;
  }
  .mobile .content .agreement__emailHas .link-prev {
    margin: 0 0 2.998500749625187vw 0;
  }
  .mobile .content .agreement__emailHas .agreement__inner {
    padding-left: 2.848575712143928vw;
  }
  .mobile .content .agreement__emailHas .agreement__inner .agreement__title p + p {
    padding-top: 0.29985007496251875vw;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form {
    margin: 3.2983508245877062vw 0 3.2983508245877062vw 0;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form .form__each input[type="checkbox"] + label:before {
    width: 3.7481259370314843vw;
    height: 2.998500749625187vw;
    margin-right: 0;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form .form__each input[type="checkbox"]:checked + label:before {
    width: 4.197901049475263vw;
    height: 3.4482758620689653vw;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form .form__each .agree-txt {
    font-size: 0.66667rem;
    color: #c3c3c3;
    line-height: 1.7;
    padding: 1.199400299850075vw 4.3478260869565215vw 3.1484257871064467vw 4.3478260869565215vw;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form ul {
    padding: 2.848575712143928vw 0 0 0;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form ul li {
    padding-bottom: 1.7991004497751124vw;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form .agree__btn {
    padding: 2.0989505247376314vw 0 2.0989505247376314vw 0;
  }
}

@media screen and (min-width: 736px) {
  .mobile .content {
    width: 100%;
  }
  .mobile .content .agreement__emailHas {
    margin: 0 auto;
  }
  .mobile .content .agreement__emailHas .link-prev {
    margin-bottom: 0.6793478260869565vw;
  }
  .mobile .content .agreement__emailHas .agreement__inner {
    padding: 1.358695652173913vw 0 0 2.309782608695652vw;
  }
  .mobile .content .agreement__emailHas .agreement__inner .agreement__title p + p {
    padding-top: 0.4076086956521739vw;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form {
    margin-top: 2.8532608695652173vw;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form .form__each input[type="checkbox"] + label:before {
    width: 3.804347826086957vw;
    height: 3.125vw;
    margin-right: 0;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form .form__each input[type="checkbox"]:checked + label:before {
    width: 3.804347826086957vw;
    height: 3.125vw;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form .form__each .agree-txt {
    padding: 0.6793478260869565vw 4.891304347826087vw 2.989130434782609vw 3.532608695652174vw;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form .form__each label span {
    font-size: 0.8rem;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form ul {
    padding: 0 0 0 0;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form ul li {
    padding: 1.2228260869565217vw 0 0 0;
  }
  .mobile .content .agreement__emailHas .agreement__inner .form .agree__btn {
    margin-top: 25px;
    padding: 1.9021739130434785vw 0 1.9021739130434785vw 0;
  }
}
