@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

html,
body {
  font-size: 15px;
  font-family: SFProText, SFProText, "Apple SD Gothic Neo", AppleSDGothicNeo, "Malgun Gothic", "맑은 고딕", sans-serif;
}

.mobile .home {
  width: 100%;
  margin: 0 auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.mobile .home .header {
  width: 100%;
  background: #ffdc00;
}

.mobile .home .header .header__inner {
  position: relative;
  background: #ffdc00;
}

.mobile .home .header .header__inner .header-login {
  height: auto;
  line-height: auto;
  font-size: 0.93333rem;
  text-align: left;
  padding: 2.666666666666667vw 0 2.666666666666667vw 5.333333333333334vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile .home .header .header__inner .header-login .login {
  display: inline-block;
  font-size: 0.93333rem;
  padding-right: 3.733333333333334vw;
}

.mobile .home .header .header__inner .header-login .login span {
  text-decoration: underline;
}

.mobile .home .header .header__inner .header-login .header-login__txt {
  color: #000;
  font-size: 0.93333rem;
}

.mobile .home .header .header__inner .header-gnb ul:after {
  content: " ";
  display: block;
  clear: both;
}

.mobile .home .header .header__inner .header-gnb ul li {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 8.799999999999999vw;
  margin: 7.466666666666668vw 0 5.866666666666666vw 0;
}

.mobile .home .header .header__inner .header-gnb ul li > a {
  font-size: 0.86667rem;
}

.mobile .home .header .header__inner .header-gnb ul li:nth-of-type(1) {
  background: url("../../img/pages/home/bags.png") top 1.86667vw center no-repeat;
}

.mobile .home .header .header__inner .header-gnb ul li:nth-of-type(2) {
  background: url("../../img/pages/home/pick.png") top 1.86667vw center no-repeat;
}

.mobile .home .header .header__inner .header-gnb ul li:nth-of-type(3) {
  background: url("../../img/pages/home/delivery.png") top 1.86667vw center no-repeat;
}

.mobile .home .header .header__inner .header-gnb ul li:nth-of-type(4) {
  background: url("../../img/pages/home/user.png") top 1.86667vw center no-repeat;
}

.mobile .home .header .header__inner .header__btn {
  display: block;
  position: absolute;
  width: 3.2vw;
  height: 3.4666666666666663vw;
  top: 0px;
  right: 0.5333333333333333vw;
  padding: 5.333333333333334vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../../img/pages/home/close.png") center center no-repeat;
}

.mobile .home .contents__inner .contents__ad {
  width: 100%;
}

.mobile .home .contents__inner .contents__ad .thumnail {
  width: 100%;
}

.mobile .home .contents__inner .contents__ad .thumnail img {
  width: 100%;
  height: auto;
}

.mobile .home .contents__inner .contents__category {
  border-bottom: 0.26666666666666666vw solid #e4e4e4;
  background: #fff;
}

.mobile .home .contents__inner .contents__category ul li {
  float: left;
  width: 33.33333%;
  font-size: 0.66667rem;
  padding: 4vw 0 4vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-right: 0.26666666666666666vw solid #f4f4f4;
  border-bottom: 0.26666666666666666vw solid #f4f4f4;
}

.mobile .home .contents__inner .contents__category ul li a {
  font-size: 13px;
  color: #1c1c1c;
}

.mobile .home .contents__inner .contents__category ul:after {
  content: " ";
  display: block;
  clear: both;
}

.mobile .home .contents__inner .contents__brand {
  padding: 2.666666666666667vw 0 2.666666666666667vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f7f7f7;
}

.mobile .home .contents__inner .contents__brand ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto hidden;
  padding: 5.333333333333334vw 0 5.333333333333334vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 0.26666666666666666vw solid #e4e4e4;
  background: #ffffff;
}

.mobile .home .contents__inner .contents__brand ul li {
  text-align: center;
  padding-left: 5.333333333333334vw;
}

.mobile .home .contents__inner .contents__brand span {
  display: block;
  font-size: 0.93333rem;
  color: #1c1c1c;
  padding-top: 3.2vw;
}

.mobile .home .contents__inner .contents__event {
  padding: 0 0 2.666666666666667vw 0;
  background: #f7f7f7;
}

.mobile .home .contents__inner .contents__event ul {
  padding: 5.333333333333334vw 0 5.6000000000000005vw 5.333333333333334vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 0.26666666666666666vw solid #e4e4e4;
  background: #ffffff;
}

.mobile .home .contents__inner .contents__event ul li {
  float: left;
  width: 43.46666666666666vw;
  height: 20.533333333333335vw;
}

.mobile .home .contents__inner .contents__event ul li:first-child {
  margin-right: 2.666666666666667vw;
}

.mobile .home .contents__inner .contents__event ul li:nth-of-type(1) {
  background: url("../../img/pages/home/events__sunday_cheezzzball.png") no-repeat;
  background-size: contain;
}

.mobile .home .contents__inner .contents__event ul li:nth-of-type(2) {
  background: url("../../img/pages/home/events__niniz.png") no-repeat;
  background-size: contain;
}

.mobile .home .contents__inner .contents__event ul:after {
  content: "";
  display: block;
  clear: both;
}

.mobile .home .contents__inner .contents__menu ul li {
  padding: 4.266666666666667vw 5.333333333333334vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 0.26666666666666666vw solid #f7f7f7;
  background: #ffffff;
}

.mobile .home .contents__inner .contents__menu ul li a {
  font-size: 1.06667rem;
  color: #242424;
}

.mobile .home .footer__inner {
  height: 21.866666666666667vw;
  padding-top: 7.199999999999999vw;
  border-top: 0.26666666666666666vw solid #e4e4e4;
  background: #f7f7f7;
}

.mobile .home .footer__inner .footer__login {
  display: block;
  font-size: 0.93333rem;
  color: #979899;
  text-align: center;
  padding: 0 5.333333333333334vw 7.199999999999999vw 5.333333333333334vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../../img/pages/home/login__btn.png") top left 41% no-repeat;
}

.mobile .home::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

@media screen and (min-width: 667px) {
  .mobile .home .header {
    padding-top: 0;
  }
  .mobile .home .header .header__inner .header-login {
    padding: 25px 0 25px 19px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 28px;
  }
  .mobile .home .header .header__inner .header-login h1 span {
    text-decoration: underline;
  }
  .mobile .home .header .header__inner .header-login .header-login__txt {
    color: #000;
    font-size: 0.93333rem;
  }
  .mobile .home .contents__inner .contents__category {
    border-bottom: 0.26666666666666666vw solid #e4e4e4;
  }
  .mobile .home .contents__inner .contents__category ul li {
    padding: 18px 0 18px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mobile .home .contents__inner .contents__category ul li a {
    font-size: 13px;
    color: #1c1c1c;
  }
  .mobile .home .contents__inner .contents__brand ul {
    padding: 21px 0 21px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile .home .contents__inner .contents__brand ul li {
    text-align: center;
  }
  .mobile .home .contents__inner .contents__brand span {
    display: block;
    padding-top: 8px;
  }
  .mobile .home .contents__inner .contents__event {
    padding: 0;
  }
  .mobile .home .contents__inner .contents__event ul {
    width: 596px;
    margin: 0 auto;
    padding: 0;
  }
  .mobile .home .contents__inner .contents__event ul li {
    float: left;
    width: 286px;
    height: 124px;
    margin: 6px;
  }
  .mobile .home .contents__inner .contents__event ul li:first-child {
    margin-right: 6px;
  }
  .mobile .home .contents__inner .contents__menu ul li {
    padding: 4.266666666666667vw 5.333333333333334vw;
  }
  .mobile .home .contents__inner .contents__menu ul li a {
    font-size: 1.06667rem;
    color: #242424;
  }
}

@media screen and (min-width: 736px) {
  .mobile .home .contents__inner .contents__category ul li {
    padding: 15px 0 15px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
