@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

html,
body {
  font-size: 15px;
  font-family: NotoSans-Regular, AppleSDGothicNeo-Regular, "맑은 고딕", Malgun Gothic, "돋움", dotum, sans-serif;
}

.mobile .content {
  max-width: 100%;
  margin: 0 auto;
}

.mobile .content__inner {
  position: relative;
  padding: 0 4.266666666666667vw 0 4.266666666666667vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile .content__inner .layout-button {
  position: absolute;
  top: -6px;
  right: 5.6000000000000005vw;
}

.mobile .content__inner .layout-button ul li {
  display: inline-block;
  width: 10.666666666666668vw;
  height: 10.666666666666668vw;
}

.mobile .content__inner .layout-button ul .original {
  background: url("../../img/pages/total/item_original.png") center no-repeat;
  background-size: contain;
}

.mobile .content__inner .layout-button ul .four {
  background: url("../../img/pages/total/item_four.png") center no-repeat;
  background-size: contain;
}

.mobile .content__inner .layout-button ul .list {
  background: url("../../img/pages/total/item_list.png") center no-repeat;
  background-size: contain;
}

.mobile .content__inner .home-layout {
  padding-top: 6.666666666666667vw;
}

.mobile .content__inner .home-layout .original .home-layout__list li {
  width: 100%;
  height: auto;
  padding: 4vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item {
  position: relative;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a {
  display: block;
  border-radius: 2.666666666666667vw;
  overflow: hidden;
  height: 129.33333333333331vw;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1.33333vw 3.46667vw;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 1.33333vw 3.46667vw;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__thumnail {
  width: 100%;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__thumnail img {
  width: 100%;
  height: auto;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info {
  position: relative;
  padding: 0 0 5.333333333333334vw 5.333333333333334vw;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info .item-tag {
  display: inline-block;
  height: 5.866666666666666vw;
  line-height: 5.866666666666666vw;
  font-size: 0.8rem;
  background: #fe000f;
  color: #fff;
  padding: 0 1.866666666666667vw 0 1.866666666666667vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info .item-title {
  display: block;
  width: 65.06666666666666vw;
  font-size: 1.13333rem;
  color: #000000;
  margin: 2.666666666666667vw 0 2.1333333333333333vw 0;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info .item-category {
  display: inline-block;
  font-size: 1rem;
  padding-bottom: 2.933333333333333vw;
  font-weight: bold;
  color: blue;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info .item-price {
  display: block;
  font-size: 0.93333rem;
  font-weight: bold;
  color: red;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info .review {
  position: absolute;
  top: 30.666666666666664vw;
  right: 4vw;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info .review .rating {
  display: inline-block;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info .review .rating .star-wrap {
  width: 4.8vw;
  display: inline-block;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info .review .rating .star-wrap .star {
  position: relative;
  width: 0;
  overflow: hidden;
  z-index: 2;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info .review .rating .star-wrap .star .fa-star {
  color: #f05522;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info .review .rating .star-wrap:before {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 5.333333333333334vw;
  height: 5.333333333333334vw;
  top: 0.5333333333333333vw;
  z-index: 1;
  background: url("../../img/pages/total/star.png") no-repeat;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item a .home-item__info .review .voter {
  position: relative;
  top: 0.5333333333333333vw;
  font-size: 0.86667rem;
  vertical-align: top;
}

.mobile .content__inner .home-layout .original .home-layout__list .home-item .item-pick {
  position: absolute;
  display: block;
  width: 8vw;
  height: 8vw;
  right: 5.333333333333334vw;
  bottom: 43.2vw;
  border: 0;
  background: url("../../img/pages/total/item__pick.png") center center no-repeat;
}

.mobile .content__inner .home-layout .four .home-layout__list li {
  float: left;
  width: 50%;
  height: auto;
  padding: 1.866666666666667vw;
  margin-top: 1.866666666666667vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item {
  position: relative;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a {
  display: block;
  height: 89.86666666666666vw;
  border-radius: 2.666666666666667vw;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1.33333vw 3.46667vw;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 1.33333vw 3.46667vw;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__thumnail {
  width: 100%;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__thumnail img {
  width: 100%;
  height: auto;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info {
  position: relative;
  padding: 1.3333333333333335vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info .item-tag {
  display: inline-block;
  height: 5.866666666666666vw;
  line-height: 5.866666666666666vw;
  font-size: 0.8rem;
  color: #fff;
  padding: 0 1.866666666666667vw 0 1.866666666666667vw;
  background: #fe000f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info .item-title {
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #000000;
  padding: 2.666666666666667vw 0 1.3333333333333335vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info .item-category {
  display: inline-block;
  font-size: 0.86667rem;
  padding-bottom: 0.8vw;
  font-weight: bold;
  color: blue;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info .item-price {
  display: block;
  font-size: 0.86667rem;
  font-weight: bold;
  color: red;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info .review {
  position: absolute;
  top: 37.86666666666667vw;
  right: 0.5333333333333333vw;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info .review .rating {
  display: inline-block;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info .review .rating .star-wrap {
  width: 4.8vw;
  display: inline-block;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info .review .rating .star-wrap .star {
  position: relative;
  width: 0;
  overflow: hidden;
  z-index: 2;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info .review .rating .star-wrap .star .fa-star {
  color: #f05522;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info .review .rating .star-wrap:before {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 5.333333333333334vw;
  height: 5.333333333333334vw;
  top: 0.5333333333333333vw;
  z-index: 1;
  background: url("../../img/pages/total/star.png") no-repeat;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item a .home-item__info .review .voter {
  position: relative;
  top: 0.5333333333333333vw;
  font-size: 0.86667rem;
  vertical-align: top;
}

.mobile .content__inner .home-layout .four .home-layout__list .home-item .item-pick {
  position: absolute;
  display: block;
  width: 8vw;
  height: 8vw;
  top: 44.266666666666666vw;
  left: 33.86666666666667vw;
  border: 0;
  background: url("../../img/pages/total/item__pick.png") #fff center center no-repeat;
}

.mobile .content__inner .home-layout .list .home-layout__list {
  margin-top: 5.6000000000000005vw;
}

.mobile .content__inner .home-layout .list .home-layout__list li {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item {
  position: relative;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a {
  display: block;
  height: 55.46666666666666vw;
  margin-bottom: 5.333333333333334vw;
  padding-top: 4.266666666666667vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 2.666666666666667vw;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1.33333vw 3.46667vw;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 1.33333vw 3.46667vw;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__thumnail {
  float: left;
  width: 42.66666666666667vw;
  height: auto;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__thumnail img {
  width: 100%;
  height: auto;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info {
  position: relative;
  float: right;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .item-tag {
  display: inline-block;
  height: 5.866666666666666vw;
  line-height: 5.866666666666666vw;
  font-size: 0.8rem;
  color: #fff;
  padding: 0 1.866666666666667vw 0 1.866666666666667vw;
  background: #fe000f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .item-title {
  display: block;
  width: 44.53333333333334vw;
  margin: 2.666666666666667vw 0 2.666666666666667vw 0;
  font-size: 1.06667rem;
  color: #000000;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .item-category {
  display: block;
  padding-bottom: 1.3333333333333335vw;
  font-weight: bold;
  color: blue;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .item-price {
  display: block;
  font-weight: bold;
  color: red;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .review {
  position: absolute;
  width: 40vw;
  top: 42.66666666666667vw;
  right: 5.6000000000000005vw;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .review .rating {
  float: left;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .review .rating .star-wrap {
  display: inline-block;
  width: 4.8vw;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .review .rating .star-wrap .star {
  position: relative;
  width: 0;
  overflow: hidden;
  z-index: 2;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .review .rating .star-wrap .star .fa-star {
  color: #f05522;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .review .rating .star-wrap:before {
  display: inline-block;
  content: " ";
  position: absolute;
  width: 5.333333333333334vw;
  height: 5.333333333333334vw;
  top: 0.5333333333333333vw;
  z-index: 1;
  background: url("../../img/pages/total/star.png") no-repeat;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .review .voter {
  float: right;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a .home-item__info .review:after {
  content: " ";
  display: block;
  clear: both;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item a:after {
  content: " ";
  display: block;
  clear: both;
}

.mobile .content__inner .home-layout .list .home-layout__list .home-item .item-pick {
  position: absolute;
  display: block;
  width: 8vw;
  height: 8vw;
  top: 2.933333333333333vw;
  right: 5.333333333333334vw;
  border: 0;
  background: url("../../img/pages/total/item__pick.png") center center no-repeat;
}

.mobile .content__inner .home-layout:after {
  content: " ";
  display: block;
  clear: both;
}

.mobile .content__inner .click-to-top .btn-top {
  display: none;
  position: fixed;
  width: 12.8vw;
  height: 12.533333333333333vw;
  right: 5.866666666666666vw;
  bottom: 10.133333333333333vw;
  background: url("../../img/pages/total/btn_to_top.png") center center no-repeat;
}
