<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="kakao_friends_shop" />
  <meta name="Description" content="cloning webpage for portfolio" />
  <meta name="Robots" content="noindex,nofollow" />

  <link rel="icon" href="/public/kakao_favicon.ico" />
  <link rel="stylesheet" href="../../assets/style/css/header.css" />
  <link rel="stylesheet" href="../../assets/style/css/pay.css" />
  <link rel="stylesheet" href="../../assets/style/css/footer.css" />

  <title>카카오 제품구매하기</title>

</head>

<body>
  <div id="skip-navigation">
    <ul>
      <li><a href="#content-box">본문 바로가기</a></li>
      <li><a href="#main-gnb">메인 메뉴 바로가기</a></li>
    </ul>
  </div>

  <div class="wrap">

    <h1 class="logo">
      <a href="../components/intro.html">
        <img src="../assets/img/header/kakao_logo.png" alt="KAKAO FRIENDS
                                              로고" />
      </a>
    </h1>

    <header class="header">
      <div class="header-upper">
        <div class="gnb">
          <div class="gnb-left">
            <ul>
              <li>
                <a href="javascript:void(0);" class="category__btn">카테고리</a>
                <div class="category">
                  <ul class="category__oneDepth">
                    <li>
                      <a href="javascript:void(0);">전체</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">판매량순</a></li>
                        <li><a href="javascript:void(0);">신상품순</a></li>
                        <li><a href="javascript:void(0);">낮은 가격순</a></li>
                        <li><a href="javascript:void(0);">높은 가격순</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">테마 기획전</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">마린 블루</a></li>
                        <li><a href="javascript:void(0);">얌얌프렌즈</a></li>
                        <li><a href="javascript:void(0);">레몬테라스</a></li>
                        <li>
                          <a href="javascript:void(0);">베이비드리밍</a>
                        </li>
                        <li><a href="javascript:void(0);">해피위크</a></li>
                        <li>
                          <a href="javascript:void(0);">강다니엘 에디션</a>
                        </li>
                        <li><a href="javascript:void(0);">치즈프렌즈</a></li>
                        <li>
                          <a href="javascript:void(0);">트와이스 에디션</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">포레스트 라이언</a>
                        </li>
                        <li><a href="javascript:void(0);">허니프렌즈</a></li>
                        <li>
                          <a href="javascript:void(0);">러블리 어피치</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">토이</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">미니인형</a></li>
                        <li><a href="javascript:void(0);">중형인형</a></li>
                        <li><a href="javascript:void(0);">대형인형</a></li>
                        <li><a href="javascript:void(0);">키체인인형</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">리빙</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">쿠션방석</a></li>
                        <li><a href="javascript:void(0);">컵/텀블러</a></li>
                        <li><a href="javascript:void(0);">주방용품</a></li>
                        <li>
                          <a href="javascript:void(0);">미용/욕실용품</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">생활소품/잡화</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">강다니엘 에디션</a>
                        </li>
                        <li><a href="javascript:void(0);">펫 용품</a></li>
                        <li><a href="javascript:void(0);">탈취/방향제</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">잡화</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">쿠션방석</a></li>
                        <li><a href="javascript:void(0);">컵/텀블러</a></li>
                        <li><a href="javascript:void(0);">주방용품</a></li>
                        <li>
                          <a href="javascript:void(0);">미용/욕실용품</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">생활소품/잡화</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">강다니엘 에디션</a>
                        </li>
                        <li><a href="javascript:void(0);">펫 용품</a></li>
                        <li><a href="javascript:void(0);">탈취/방향제</a></li>
                        <li>
                          <a href="javascript:void(0);">포레스트 라이언</a>
                        </li>
                        <li><a href="javascript:void(0);">허니프렌즈</a></li>
                        <li>
                          <a href="javascript:void(0);">러블리 어피치</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">문구</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">필기구</a></li>
                        <li><a href="javascript:void(0);">필통/케이스</a></li>
                        <li><a href="javascript:void(0);">노트/메모</a></li>
                        <li><a href="javascript:void(0);">파일</a></li>
                        <li><a href="javascript:void(0);">스티커</a></li>
                        <li><a href="javascript:void(0);">데스크 소품</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">의류</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">여성</a></li>
                        <li><a href="javascript:void(0);">남성</a></li>
                        <li><a href="javascript:void(0);">속옷</a></li>
                        <li><a href="javascript:void(0);">양말</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">파자마</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">여성</a></li>
                        <li><a href="javascript:void(0);">남성</a></li>
                        <li><a href="javascript:void(0);">키즈</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">여행/레져</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">여헹</a></li>
                        <li><a href="javascript:void(0);">레져</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">생활테크</a>
                      <ul class="category__twoDepth">
                        <li>
                          <a href="javascript:void(0);">노트북 액세서리</a>
                        </li>
                        <li><a href="javascript:void(0);">소형 전자</a></li>
                        <li>
                          <a href="javascript:void(0);">에어팟 케이스</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">에어팟 액세서리</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">폰 액세서리</a>
                      <ul class="category__twoDepth">
                        <li>
                          <a href="javascript:void(0);">휴대폰 케이스</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">휴대폰 액세서리</a>
                        </li>
                        <li><a href="javascript:void(0);">충전기</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0);">식품</a>
                      <ul class="category__twoDepth">
                        <li><a href="javascript:void(0);">스낵</a></li>
                        <li><a href="javascript:void(0);">음료</a></li>
                      </ul>
                    </li>
                  </ul>
                  <div class="category__adv">
                    <ul>
                      <li>
                        <a href="javascript:void(0);" class="ryan">
                          <img src="../assets/img/header/header_ryan.png" alt="라이언 이미지" />
                          <span>라이언</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="apeach">
                          <img src="../assets/img/header/header_appeach.png" alt="어피치 이미지" />
                          <span>어피치</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="muzi">
                          <img src="../assets/img/header/header_muzi.png" alt="무지 이미지" />
                          <span>무지</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="prodo">
                          <img src="../assets/img/header/header_prodo.png" alt="프로도 이미지" />
                          <span>프로도</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="neo">
                          <img src="../assets/img/header/header_neo.png" alt="네오 이미지" />
                          <span>네오</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="tube">
                          <img src="../assets/img/header/header_tube.png" alt="네오 이미지" />
                          <span>튜브</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="jayz">
                          <img src="../assets/img/header/header_jayz.png" alt="제이지 이미지" />
                          <span>제이지</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="con">
                          <img src="../assets/img/header/header_con.png" alt="콘 이미지" />
                          <span>콘</span>
                        </a>
                      </li>
                    </ul>
                    <div>
                      <a href="javascript:void(0);">
                        <img src="../assets/img/header/banner_cheese.png" alt="SUNDAY CHEEZZZBALL" />
                        <span class="offscreen">sunday cheezeball 배너</span>
                      </a>

                      <a href="javascript:void(0);">
                        <img src="../assets/img/header/banner_niniz.png" alt="NINIZ" />
                        <span class="offscreen">miniz 배너</span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="store.html">매장안내</a>
              </li>
              <li>
                <a href="help/help.html">고객센터</a>
              </li>
            </ul>
          </div>
          <div class="gnb-right">
            <ul>
              <li class="gnb__popular">
                <div class="popular">
                  <strong class="popular_title">신규상품(5)</strong>
                  <div class="slide_box">
                    <div class="slide">
                      <ul>
                        <li><a href="javascript:void(0);">1. 목걸이형 & 핸디형 선풍기</a></li>
                        <li><a href="javascript:void(0);">2. 프렌즈 물놀이템</a></li>
                        <li><a href="javascript:void(0);">3. 프렌즈 무드등 모음</a></li>
                        <li><a href="javascript:void(0);">4. 프렌즈 데스트템 모음</a></li>
                        <li><a href="javascript:void(0);">5. 프렌즈 청소템 모음</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="slide_buttons">
                    <button type="button" class="slide_btn slide_start">
                      <span class="offscreen">배너 재생</span>
                    </button>
                    <button type="button" class="slide_btn slide_stop">
                      <span class="offscreen">배너 정지</span>
                    </button>
                  </div>
                  <div class="slide_shortcut">
                    <strong class="offscreen">신규상품 리스트</strong>
                    <ul>
                      <li><a href="javascript:void(0);">1. 목걸이형 & 핸디형 선풍기</a></li>
                      <li><a href="javascript:void(0);">2. 프렌즈 물놀이템</a></li>
                      <li><a href="javascript:void(0);">3. 프렌즈 무드등 모음</a></li>
                      <li><a href="javascript:void(0);">4. 프렌즈 데스트템 모음</a></li>
                      <li><a href="javascript:void(0);">5. 프렌즈 청소템 모음</a></li>
                    </ul>

                  </div>
                </div>

              </li>
              <li class="gnb__finder">
                <a href="javascript:void(0);">
                  <img src="../assets/img/header/finder.png" alt="상품 검색" />
                </a>
              </li>
              <li class="gnb__login">
                <a href="../components/login/logAccount.html">
                  <img src="../assets/img/header/user.png" alt="회원정보" />
                </a>
                <ul class="gnb__userData">
                  <li><a href="../components/login/gate.html">로그인</a></li>
                  <li><a href="blank.html">주문내역</a></li>
                  <li><a href="blank.html">찜</a></li>
                  <li><a href="blank.html">취소 및 교환</a></li>
                  <li><a href="blank.html">포인트</a></li>
                  <li><a href="blank.html">1:1 문의</a></li>
                  <li><a href="javascript:void(0);">비회원 주문조회</a></li>
                  <li>
                    <a href="javascript:void(0);">기프트카드 조회.환불</a>
                  </li>
                </ul>
              </li>
              <li class="gnb__items">
                <a href="blank.html;">
                  <img src="../assets/img/header/basket.png" alt="장바구니" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="lnb">
          <ul>
            <li class="on">
              <a href="intro.html">홈</a>
            </li>
            <li>
              <a href="hot.html">인기</a>
            </li>
            <li>
              <a href="sale.html">세일</a>
            </li>
            <li>
              <a href="total.html">전체</a>
            </li>
          </ul>
        </div>
        <div class="search-keyword">
          <div class="search-keyword__wrapper">
            <div class="search-keyword__group">
              <form action="#" method="post">
                <fieldset>
                  <legend class="offscreen">키워드 검색</legend>
                  <div class="search-keyword__inputBox">
                    <input type="text" name="keyword" id="totSearchkeyword" placeholder="검색어를 입력하세요"
                      title="검색어를 입력하세요" />
                    <button type="button" class="search-keyword__btn-search" onclick="keyword_search()">
                      <span class="offscreen">검색</span>
                    </button>
                  </div>
                  <div class="search-keyword__keyword-list">
                    <strong class="search-keyword__keyword-title">인기 검색어</strong>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">충전거치대</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">라이언</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">선풍기</span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">어피치</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">우산</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">인형</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          #<span class="frequent">텀블러</span></a>
                      </li>
                    </ul>
                  </div>
                  <button type="button" class="search-keyword__btn-cancel" id="closeSearch">
                    <span class="offscreen">검색창 닫기</span>
                  </button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="content">
      <h1 class="offscreen">상품 결제하기</h1>
      <div class="pay">
        <form action="#" method="#">
          <legend class="offscreen">결제</legend>
          <fieldset>
            <div class="pay-section item">
              <strong class="pay-title">01 주문상품</strong>
              <div class="item-header">
                <div class="item-thumnail">
                  <img src="../../assets/img/pages/pay/pay_item_01.png" alt="오토
                      손세정기 라이언">
                </div>
                <div class="itme-info">
                  <p class="item-name">오토 손세정기_라이언</p>
                  <select name="제품주문 수량" id="" title="제품주문 수량">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <span class="total-price">
                    39,000<span class="price-unit">원</span>
                  </span>
                  <button type="button" class="btn-item-delete">
                    <span class="offscreen">상품 제거</span>
                  </button>
                </div>
              </div>
              <ul class="pay-item">
                <li>
                  <span class="form-left item-title">상품가</span>
                  <span class="form-right item-total">
                    39,000<span class="price-unit">원</span>
                  </span>
                </li>
                <li>
                  <span class="form-left item-title">배송비</span>
                  <span class="form-right delivery-price">무료</span>
                </li>
                <li>
                  <span class="form-left item-title">
                    <strong class class="item-short">총합</strong>
                  </span>
                  <span class="form-right price-total">
                    39,000<span class="price-unit">원</span>
                  </span>
                </li>
              </ul>
            </div>
            <div class="pay-section address">
              <strong class="pay-title">02 배송지정보</strong>
              <div class="address-header">
                <span class="item-receiver">받는분</span>
                <div class="check-address">
                  <input type="checkbox" id="customer" class="offscreen">
                  <label for="customer"><span>주문고객과 동일</span></label>
                </div>
              </div>
              <div class="item-inputBox">
                <div class="selectBox">
                  <select name="" id="">
                    <option value="korea">한국</option>
                  </select>
                </div>
                <div class="inputBox">
                  <label for="name" class="offscreen">이름</label>
                  <input type="text" id="name" placeholder="이름">
                </div>
                <div class="inputBox">
                  <label for="phoneNum" class="offscreen">이름</label>
                  <input type="text" id="phoneNum" placeholder="전화번호 (-없이
                      입력)">
                </div>
                <div class="inputBox">
                  <label for="address" class="offscreen">이름</label>
                  <input type="text" id="address" placeholder="주소찾기">
                </div>
                <div class="inputBox">
                  <label for="addrMore" class="offscreen">나머지 주소</label>
                  <input type="text" id="addrMore" placeholder="나머지 주소">
                </div>
                <div class="inputBox">
                  <label for="request" class="offscreen">나머지 주소</label>
                  <textarea id="request" placeholder="배송 요청메시지가 있으시면 남겨주세요.(주소
                      작성란이 아닙니다)"></textarea>
                  <p class="limit">50자 이내로 입력해주세요 (<span class="current-num">0</span>/<span class="maxium">50</span>)
                  </p>
                </div>

                <div class="save-address">
                  <input type="checkbox" id="saveAddr" class="offscreen">
                  <label for="saveAddr"><span>내 정보 및 기본 배송지로 저장</span></label>
                </div>

                <div class="form-notice">
                  <p class="planned-date">
                    <span class="hour">8</span>/<span class="minutes">19</span>
                    (<span class="todays">수</span>) 도착예정
                  </p>
                  <p class="remind">오후 3시 이전 주문시 당일 출고/출고 후 평균 1~2일 이내 수령<br>
                    영업일 기준이며, 경우에 따라 추가소요될 수 있습니다.</p>
                </div>
              </div>
            </div>
            <div class="pay-section money">
              <div class="money-header">
                <strong class="pay-title">03 결제하기</strong>
                <a href="javascript:void(0);" class="point" title="새창열림" target="_blank">
                  포인트 안내
                </a>
              </div>
              <ul class="pay-item">
                <li>
                  <span class="form-left item-title">상품가</span>
                  <span class="form-right item-total">39,000
                    <span class="price-unit">원</span>
                  </span>
                </li>
                <li>
                  <span class="form-left item-title">배송비</span>
                  <span class="form-right delivery-price">무료</span>
                </li>
                <li>
                  <span class="form-left item-title">
                    <span class="point">
                      포인트
                      <strong class="pointNum">(<span class="initial-Point">1,000</span><span
                          class="unit">P</span>)</strong>
                    </span>
                  </span>
                  <div class="form-right">
                    <div class="pointBox">
                      <label for="myPoint" class="offscreen">보유 포인트 입력</label>
                      <input type="number" id="myPoint" placeholder="0">
                    </div>
                  </div>
                </li>
                <li>
                  <span class="form-left item-title">
                    <span class="gift">기프트카드</span>
                  </span>
                  <button class="form-right btn-card">카드 조회</button>
                </li>
                <li>
                  <strong class="form-left final-added">최종 결제금액</strong>
                  <span class="form-right pay-total">
                    <span>39,000</span>
                    <span>원</span>
                  </span>
                </li>
                <li>
                  <div class="payMethod">
                    <strong class="method-title">결제수단 선택</strong>
                    <div class="credit">
                      <div class="credit-tab">
                        <ul class="credit-tablist" role="tablist">
                          <li role="tab" aria-controls="tab-panel1" class="btn-kakao">카카오페이
                          </li>
                          <li role="tab" aria-controls="tab-panel2" class="btn-credit">신용카드
                          </li>
                        </ul>
                      </div>

                      <div class="credit-content" role="tabpanel" aria-labelledby="tab-panel1">
                        <div class="credit-list">
                          <div class="kapay-area">
                            <p><span class="kapay">카카오페이</span>로 간편하고
                              안전하게 결제!</p>
                          </div>
                          <ul>
                            <li>
                              <div class="agreement">
                                <input type="checkbox" id="agreeDelivery" class="offscreen checkItem">
                                <label for="agreeDelivery" class="agreement-delivery"><span class="underline">상품 주문
                                    및
                                    배송정보
                                    수집에 동의합니다.</span></label>
                                <span class="agreeLabel">&#91;필수&#93;</span>
                              </div>
                            </li>
                            <li>
                              <div class="agreement">
                                <input type="checkbox" id="agreeRefund" class="offscreen checkItem">
                                <label for="agreeRefund" class="agreement-delivery"><span>주문
                                    상품의
                                    명시내용과
                                    사용주건을 확인하였으며,
                                    취소환불 규정에 동의합니다.</span></label>
                                <span class="agreeLabel">&#91;필수&#93;</span>
                              </div>
                            </li>
                            <li>
                              <div class="agreement">
                                <input type="checkbox" id="agreeService" class="offscreen checkItem">
                                <label for="agreeService" class="agreement-delivery"><span class="underline">카카오프렌즈
                                    서비스 이용약관에 동의합니다.</span></label>
                                <span class="agreeLabel">&#91;필수&#93;</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <button type="submit" class="btn-pay-for">결제하기</button>
          </fieldset>
        </form>
      </div>
    </main>

    <footer class="footer">
      <h1 class="offscreen">카카오 프렌즈샵 쇼핑몰 정보</h1>
      <div class="footer__upper">
        <div class="brand">
          <span class="brand__title">친구들이 궁금해요? 지금바로 만나보세요!</span>
          <div class="brand__link">
            <a href="javascript:void(0);">카카오프렌즈 소개</a>
            <a href="javascript:void(0);">브랜드 스토리</a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <strong class="offscreen">카카오프렌즈 회사정보</strong>
        <div class="company">
          <div class="policy">
            <a href="javascript:void(0);" title="새창열림" target="_blank">개인정보처리방침</a>
            <a href="javascript:void(0);" title="새창열림" target="_blank">이용약관</a>
            <a href="javascript:void(0);" title="새창열림" target="_blank">제휴문의</a>
          </div>
          <address class="info">
            <span class="info__address">카카오아이엑스 사업자등록번호:354-86-0070</span>
            <span class="info__address">통신판매업 신고번호 : 2017-서울강남-02573</span>
            <span class="info__address">대표이사 : 권승조</span>
            <span class="info__address">주소 : 서울특별시 강남구 테헤란로 521 파르나스타워, 27층</span>
            <span class="info__address">고객센터 : 1577-6263 / 평일 10시 ~ 18시</span>
            <span class="info__address">
              <a href="mailto:store@kakaofriends.com">store@kakaofriends.com</a>
            </span>
            <span class="info__address">글로벌 배송 문의 :
              <a href="mailto:global@kakaofriends.com">global@kakaofriends.com</a>
            </span>
          </address>
          <div class="contact">
            <span class="contact__copyright">
              Copyright &copy; KAKAO IX CORP.
            </span>
            <div class="contact__familySite">
              <button><span>패밀리사이트</span></button>
              <ul>
                <li>
                  <a href="https://www.daum.net/" class="daum" title="새창열림" target="_blank">다음</a>
                </li>
                <li>
                  <a href="https://brunch.co.kr/" class="brunch" title="새창열림" target="_blank">브런치</a>
                </li>
                <li>
                  <a href="https://map.kakao.com/" class="kamap" title="새창열림" target="_blank">카카오맵</a>
                </li>
                <li>
                  <a href="https://www.kakaocorp.com/service/KakaoMetro" class="kasubway" title="새창열림"
                    target="_blank">카카오지하철</a>
                </li>
                <li>
                  <a href="https://www.kakaocorp.com/service/KakaoTalk" class="katalk" title="새창열림"
                    target="_blank">카카오톡</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://kit.fontawesome.com/1a2bd2c0e3.js" crossorigin="anonymous"></script>
  <script src="../../assets/js/common.js"></script>
  <script src="../../assets/js/pay/pay.js"></script>
</body>

</html>