@charset "utf-8";

@import "../scss/base/reset";

body {
    font-family: NotoSans-Regular, AppleSDGothicNeo-Regular, "맑은 고딕",
        Malgun Gothic, "돋움", dotum, sans-serif;
}

.wrap {
    position: relative;
    .content {
        position: absolute;
        left: 50%;
        width: 520px;
        margin: 38px 0 0 -260px;
        strong {
            display: block;
            font-size: 29px;
            text-align: center;
        }
        a {
            display: block;
            font-size: 20px;
            padding-top: 60px;
            text-align: center;
            font-weight: bold;
        }
    }
}
