@charset "utf-8";

@import "../scss/base/reset";

.wrap {
    background: #ffc333;
    position: relative;
    header {
        width: 100%;
        .header-content {
            position: absolute;
            z-index: 2;
            width: 100%;
            margin: 0 auto;
            top: 20px;
            h1 {
                float: left;
                margin: 28px 0 0 30px;
                .kafrineds-logo {
                    width: 80px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            nav {
                display: block;
                float: right;
                margin: 27px 0 0 37px;
                ul {
                    font-size: 0;
                    li {
                        display: inline-block;
                        padding: 20px;
                        a {
                            display: inline-block;
                            font-size: 17px;
                            font-weight: bold;
                        }
                    }
                }
            }
            &:after {
                content: " ";
                display: block;
                clear: both;
            }
        }
    }
    .content {
        position: relative;
        height: 920px;
        .video-wrap {
            position: relative;
            width: 100%;
            max-width: 1033px;
            margin: 0 auto;
            height: auto;
            top: 150px;
            .video {
                position: relative;
                width: 100%;
                height: auto;
                padding-bottom: 56.25%;
                box-sizing: border-box;
                transition-duration: 0.3s;
                -o-transition-duration: 0.3s;
                -moz-transition-duration: 0.3s;
                -webkit-transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
                -o-transition-timing-function: ease-in-out;
                -moz-transition-timing-function: ease-in-out;
                -webkit-transition-timing-function: ease-in-out;
                video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .control {
                    width: 93px;
                    bottom: 0;
                    right: 0;
                    i {
                        display: inline-block;
                        padding: 10px;
                        cursor: pointer;
                        font-size: 26px;
                        color: #ebebeb;
                    }
                    position: absolute;
                }
            }
            .video__title {
                position: relative;
                width: 100%;
                top: 134px;
                z-index: 10;
                .video__contents {
                    width: 1160px;
                    margin: 0 auto;
                    .video__subject {
                        display: block;
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: 0;
                        font-weight: 700;
                        color: #fff;
                    }
                    .video__subtitle {
                        display: block;
                        font-size: 42px;
                        line-height: 52px;
                        letter-spacing: -1.5px;
                        font-weight: 700;
                        margin-top: 20px;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1090px) {
}

@media screen and (max-width: 1066px) {
}

@media screen and (max-width: 1066px) {
}

@media screen and (max-width: 910px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 640px) {
}

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {
    //CSS
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {
    //CSS
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    //CSS
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {
    //CSS
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
    //CSS
}
