@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

body {
  font-family: NotoSans-Regular, AppleSDGothicNeo-Regular, "맑은 고딕", Malgun Gothic, "돋움", dotum, sans-serif;
}

.wrap {
  position: relative;
}

.wrap .content {
  position: absolute;
  left: 50%;
  width: 520px;
  margin: 38px 0 0 -260px;
}

.wrap .content strong {
  display: block;
  font-size: 29px;
  text-align: center;
}

.wrap .content a {
  display: block;
  font-size: 20px;
  padding-top: 60px;
  text-align: center;
  font-weight: bold;
}
