*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.wrap {
  position: relative;
}

.wrap .logo {
  position: absolute;
  width: 134px;
  top: 9px;
  left: 50%;
  margin-left: -77px;
  z-index: 11;
}

.wrap .logo a {
  display: block;
  width: 100%;
  padding: 10px;
}

.wrap .logo a img {
  display: block;
  width: 100%;
  height: auto;
}

.wrap .header .header-upper {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e3e5e8;
}

.wrap .header .header-upper .gnb {
  position: relative;
  width: 1060px;
  height: 52px;
  margin: 0 auto;
}

.wrap .header .header-upper .gnb .gnb-left {
  float: left;
  width: 262px;
  margin-top: 6px;
  margin-left: 18px;
  position: relative;
  color: #1e1e1e;
}

.wrap .header .header-upper .gnb .gnb-left > ul {
  font-size: 0;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li {
  display: inline-block;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 11px;
  font-size: 12px;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li:first-child {
  position: relative;
  padding-left: 0;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li:first-child:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 4px;
  top: 16px;
  right: 1px;
  background: url("../../img/header/click_category_none.png") no-repeat;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category {
  display: none;
  width: 544px;
  height: 334px;
  position: absolute;
  top: 35px;
  left: -14px;
  padding-left: 16px;
  background: #ffffff;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category + a {
  font-size: 14px;
  color: #1e1e1e;
  padding-left: 28px;
  margin-right: 25px;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__oneDepth {
  position: relative;
  width: 113px;
  margin-top: 15px;
  border-right: 1px solid #e3e5e8;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__oneDepth li {
  margin-top: 10px;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__oneDepth li:first-child {
  margin-top: 0;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__oneDepth .category__twoDepth {
  display: none;
  width: 149px;
  position: absolute;
  top: 0;
  left: 131px;
  background: #ffffff;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__oneDepth .category__twoDepth .on {
  display: block;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__oneDepth:after {
  position: absolute;
  content: " ";
  display: block;
  top: 0;
  right: -140px;
  width: 1px;
  height: 326px;
  background: url("../../img/header/bar.png") repeat-y;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__adv {
  width: 269px;
  position: absolute;
  top: 15px;
  left: 283px;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__adv ul {
  margin: 0px -4px 0px -4px;
  margin-bottom: 45px;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__adv ul li {
  float: left;
  padding: 0px 4px 0 4px;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__adv ul li a span {
  display: block;
  margin-top: 12px;
  padding-bottom: 14px;
  text-align: center;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__adv ul li .ryan.on {
  background: url("../../img/header/header_ryan_checked.png") no-repeat;
}

.wrap .header .header-upper .gnb .gnb-left > ul > li .category .category__adv ul:after {
  content: " ";
  display: block;
  clear: both;
}

.wrap .header .header-upper .gnb .gnb-right {
  float: right;
  width: 450px;
  height: 34px;
  margin-top: 9px;
  font-size: 0;
}

.wrap .header .header-upper .gnb .gnb-right > ul > li {
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 12px;
  padding: 0px 10px 10px 10px;
}

.wrap .header .header-upper .gnb .gnb-right > ul > li a {
  display: block;
}

.wrap .header .header-upper .gnb .gnb-right > ul > li a img {
  width: 100%;
  height: auto;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular {
  position: relative;
  width: 200px;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular {
  position: relative;
  width: 320px;
  height: 32px;
  line-height: 1em;
  background: #fff;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .popular_title {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: #5c5c5c;
  padding: 10px 0 0 8px;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .slide_box {
  width: 192px;
  height: 21px;
  overflow: hidden;
  position: absolute;
  left: 85px;
  top: 6px;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .slide_box .slide {
  width: 100%;
  height: auto;
  position: absolute;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .slide_box .slide ul {
  font-size: 12px;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .slide_box .slide ul li {
  width: 100%;
  height: 14px;
  overflow: hidden;
  text-overflow: clip;
  margin: 4px 0;
  padding-left: 10px;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .slide_box .slide ul li a {
  display: block;
  font-size: 13px;
  font-weight: bold;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .slide_buttons {
  position: absolute;
  top: 10px;
  right: 18px;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .slide_buttons .slide_btn {
  display: inline-block;
  width: 12px;
  height: 15px;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .slide_buttons .slide_start {
  margin-right: 2px;
  background: url("../../img/header/banner_start.png") center center no-repeat;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .slide_buttons .slide_stop {
  background: url("../../img/header/banner_stop.png") center center no-repeat;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .slide_shortcut {
  display: none;
  position: absolute;
  top: 28px;
  left: 7px;
  width: 172px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
  z-index: 333;
  padding: 13px;
  border-radius: 3px;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular .popular .slide_shortcut ul li {
  padding: 6px 0;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__finder {
  margin-left: 107px;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__login {
  position: relative;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData {
  display: none;
  width: 168px;
  height: 235px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 35px;
  left: -78px;
  overflow: hidden;
  z-index: 22;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
  background: #fff;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li {
  padding-bottom: 10px;
  font-size: 13px;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:last-child {
  padding-bottom: 0;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:nth-child(2) a, .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:nth-child(3) a, .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:nth-child(4) a, .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:nth-child(5) a, .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:nth-child(6) a {
  color: #9a9a9e;
}

.wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:hover {
  text-decoration: underline;
  font-weight: bold;
}

.wrap .header .header-upper .gnb:after {
  content: " ";
  display: block;
  clear: both;
}

.wrap .header .header-bottom {
  position: relative;
  width: 100%;
  background: #fddc2f;
}

.wrap .header .header-bottom .lnb {
  margin: 0 auto;
  position: relative;
}

.wrap .header .header-bottom .lnb > ul {
  width: 413px;
  margin: 0 auto;
  text-align: center;
}

.wrap .header .header-bottom .lnb > ul > li {
  height: 54px;
  line-height: 54px;
  float: left;
  margin-right: 26px;
}

.wrap .header .header-bottom .lnb > ul > li:first-child {
  margin-left: 26px;
}

.wrap .header .header-bottom .lnb > ul > li > a {
  display: inline-block;
  padding: 0 21px 0 21px;
}

.wrap .header .header-bottom .lnb > ul > li.on {
  font-weight: bold;
  border-bottom: 3px solid black;
}

.wrap .header .header-bottom .lnb > ul:after {
  content: "";
  display: block;
  clear: both;
}

.wrap .header .header-bottom .search-keyword {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper {
  position: relative;
  z-index: 33;
  background: #ffe500;
  max-width: 1060px;
  margin: auto;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset {
  position: relative;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__inputBox {
  position: relative;
  width: auto;
  padding: 22px 0 22px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__inputBox:before {
  content: " ";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  top: 33px;
  right: 286px;
  border: 3px solid #3c404b;
  border-radius: 60px;
  z-index: 1;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__inputBox:after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 3px;
  top: 55px;
  right: 281px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #3c404b;
  border-radius: 60px;
  z-index: 1;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__inputBox input {
  display: block;
  width: 442px;
  height: 54px;
  position: relative;
  left: 50%;
  margin-left: -250px;
  padding-left: 15px;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__inputBox .search-keyword__btn-search {
  display: block;
  position: absolute;
  width: 58px;
  height: 54px;
  top: 22px;
  right: 265px;
  background: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__keyword-list {
  padding: 0 0 22px 187px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__keyword-list .search-keyword__keyword-title {
  display: inline-block;
  font-size: 20px;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__keyword-list ul {
  display: inline-block;
  margin-left: 20px;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__keyword-list ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__keyword-list ul li:last-child {
  margin-right: 0;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__btn-cancel {
  display: block;
  position: absolute;
  width: 58px;
  height: 54px;
  top: 22px;
  right: 25px;
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__btn-cancel:before {
  content: " ";
  display: block;
  width: 34px;
  height: 3px;
  background: #3c404b;
  position: absolute;
  top: 25px;
  right: 10px;
  border-radius: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__btn-cancel:after {
  content: " ";
  display: block;
  width: 34px;
  height: 3px;
  background: #3c404b;
  position: absolute;
  top: 25px;
  right: 10px;
  border-radius: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (min-width: 1281px) {
  .wrap {
    position: relative;
  }
  .wrap .header .header-upper .gnb {
    width: 1200px;
  }
}

@media (min-width: 1081px) and (max-width: 1280px) {
  .wrap {
    position: relative;
  }
  .wrap .header .header-upper .gnb {
    width: 1180px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrap {
    position: relative;
  }
  .wrap .logo {
    position: absolute;
    width: 134px;
    top: 18px;
  }
  .wrap .header .header-upper .gnb {
    width: 100%;
  }
  .wrap .header .header-upper .gnb .gnb-right {
    width: 154px;
    margin-top: 4px;
    margin-right: 14px;
  }
  .wrap .header .header-upper .gnb .gnb-right > ul > li {
    margin-right: 20px;
    padding: 10px;
  }
  .wrap .header .header-upper .gnb .gnb-right > ul > li:last-child {
    margin-right: 0;
  }
  .wrap .header .header-upper .gnb .gnb-right > ul .gnb__popular {
    display: none;
  }
  .wrap .header .header-upper .gnb .gnb-right > ul .gnb__finder {
    margin-left: 0px;
  }
  .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login {
    position: relative;
  }
  .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData {
    display: none;
    width: 168px;
    height: 235px;
    padding: 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 35px;
    left: -78px;
    overflow: hidden;
    z-index: 22;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
    background: #fff;
  }
  .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li {
    padding-bottom: 10px;
    font-size: 13px;
  }
  .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:last-child {
    padding-bottom: 0;
  }
  .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:nth-child(2) a, .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:nth-child(3) a, .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:nth-child(4) a, .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:nth-child(5) a, .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:nth-child(6) a {
    color: #9a9a9e;
  }
  .wrap .header .header-upper .gnb .gnb-right > ul .gnb__login .gnb__userData li:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  .wrap .header .header-upper .gnb:after {
    content: " ";
    display: block;
    clear: both;
  }
  .wrap .header .header-bottom {
    width: 100%;
  }
  .wrap .header .header-bottom .lnb {
    margin: 0 auto;
    position: relative;
  }
  .wrap .header .header-bottom .lnb > ul {
    width: 413px;
    margin: 0 auto;
    text-align: center;
  }
  .wrap .header .header-bottom .lnb > ul > li {
    height: 54px;
    line-height: 54px;
    float: left;
    margin-right: 26px;
  }
  .wrap .header .header-bottom .lnb > ul > li:first-child {
    margin-left: 26px;
  }
  .wrap .header .header-bottom .lnb > ul > li > a {
    display: inline-block;
    padding: 0 21px 0 21px;
  }
  .wrap .header .header-bottom .lnb > ul > li.on {
    font-weight: bold;
    border-bottom: 3px solid black;
  }
  .wrap .header .header-bottom .lnb > ul:after {
    content: "";
    display: block;
    clear: both;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper {
    z-index: 33;
    max-width: 751px;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset {
    position: relative;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__inputBox {
    position: relative;
    width: auto;
    padding: 22px 0 16px 0;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__inputBox:before {
    top: 36px;
    right: 190px;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__inputBox:after {
    top: 56px;
    right: 183px;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__inputBox input {
    height: 52px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__inputBox .search-keyword__btn-search {
    top: 23px;
    height: 50px;
    right: 169px;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__keyword-list {
    padding: 0 0 22px 80px;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__keyword-list .search-keyword__keyword-title {
    display: inline-block;
    font-size: 20px;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__keyword-list ul {
    display: inline-block;
    margin-left: 20px;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__keyword-list ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__keyword-list ul li:last-child {
    margin-right: 0;
  }
  .wrap .header .header-bottom .search-keyword .search-keyword__wrapper .search-keyword__group fieldset .search-keyword__btn-cancel {
    right: 78px;
  }
}
