@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#skip-navigation {
  width: 100%;
  height: 0px;
  left: 0px;
  top: -9999px;
  text-indent: -9999px;
}

#skip-navigation ul li a {
  display: block;
  position: absolute;
  top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-align: center;
  padding: 10px 0;
}

#skip-navigation ul li a:focus,
#skip-navigation ul li a:active {
  background: #3c404b;
  top: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  color: #fff;
  text-indent: 0px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}

main {
  display: block;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

body {
  font-family: "NotoSans Light", "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", "돋움", dotum, sans-serif;
}

.wrap {
  position: relative;
}

.wrap .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 520px;
  margin-left: -260px;
}

.wrap .content .hasEmail .hasEmail__title {
  padding: 46px 0 40px 0;
}

.wrap .content .hasEmail .hasEmail__title a {
  display: block;
}

.wrap .content .hasEmail .hasEmail__title a .kakaoLogin {
  width: 88px;
  margin: 0 auto;
}

.wrap .content .hasEmail .hasEmail__title a .kakaoLogin img {
  width: 100%;
  height: auto;
}

.wrap .content .hasEmail .hasEmail__content {
  border: 1px solid #e5e5e5;
}

.wrap .content .hasEmail .hasEmail__content .inner-container {
  width: 379px;
  margin: 59px 69px 74px 70px;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .inner-title {
  font-size: 22px;
  line-height: 1.6;
  padding-bottom: 43px;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__agree .form__check {
  padding-left: 28px;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__agree .form__check p {
  font-size: 12px;
  color: #9b9b9b;
  line-height: 1.5;
  padding: 5px 0 9px 0;
  font-weight: bold;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__agree .form__check .agreeAll strong {
  font-weight: bold;
  font-size: 18px;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__checkall input[type="checkbox"] + label .chkbox {
  display: inline-block;
  height: 25px;
  line-height: 17px;
  padding: 1px 0 0 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  color: #333;
  vertical-align: top;
  background: url("../../img/pages/login/status_unchecked.png") no-repeat;
  cursor: pointer;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__checkall input[type="checkbox"]:checked + label .chkbox {
  background: url("../../img/pages/login/status_checked.png") no-repeat;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__agreeSub {
  padding: 21px 0 30px;
  border-top: 1px solid #e5e5e5;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__checkbox {
  padding: 5px 0 11px 0;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__checkbox input[type="checkbox"] + label .chkbox {
  display: inline-block;
  height: 25px;
  line-height: 17px;
  padding: 1px 0 0 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  color: #333;
  vertical-align: top;
  background: url("../../img/pages/login/status_unchecked.png") no-repeat;
  cursor: pointer;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__checkbox input[type="checkbox"]:checked + label .chkbox {
  background: url("../../img/pages/login/status_checked.png") no-repeat;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__checkbox.on input[type="checkbox"] + label .chkbox {
  display: inline-block;
  height: 25px;
  line-height: 17px;
  padding: 1px 0 0 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #333;
  vertical-align: top;
  background: url("../../img/pages/login/status_checked.png") no-repeat;
  cursor: pointer;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__total {
  position: relative;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__total .form__check {
  padding-left: 28px;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__total .form__check p {
  font-size: 12px;
  color: #9b9b9b;
  line-height: 1.5;
  padding: 5px 0 9px 0;
  font-weight: bold;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__total button {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 8px;
  height: 12px;
  background: url("../../img/pages/login/btn-more.png") #fff no-repeat;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__checkbox-more .agreement-more {
  float: right;
  display: block;
  width: 8px;
  height: 12px;
  background: url("../../img/pages/login/btn-more.png") #fff no-repeat;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__checkbox-more:after {
  content: " ";
  display: block;
  clear: both;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__button .btn-submit {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  background: #f6f6f6;
  border-radius: 5px;
}

.wrap .content .hasEmail .hasEmail__content .inner-container .form__formArea .form__button .btn-submit.on {
  background: #ffe500;
}

.wrap .content .gagao__footer .footer__wrap {
  text-align: center;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-list {
  position: relative;
  margin: 43px 0 16px 0;
  font-size: 0;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-list li {
  display: inline-block;
  padding-right: 20px;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-list li:first-child {
  padding-right: 20px;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-list li:nth-child(2) {
  font-weight: bold;
  color: #4c4c4c;
  font-family: NotoSans-Bold, sans-serif;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-list li:last-child {
  position: relative;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-list li:last-child:after {
  content: " ";
  display: block;
  position: absolute;
  width: 9px;
  height: 5px;
  top: 4px;
  right: 5px;
  background: url("../../img/pages/login/footer_txt_up.png") no-repeat;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-list li a {
  font-size: 11px;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-language ul {
  display: none;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-language ul li {
  height: 42px;
  line-height: 42px;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-language ul li .language-selected {
  display: block;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-language--up {
  position: relative;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-language--up ul {
  display: none;
  width: 90px;
  position: absolute;
  top: -130px;
  right: 23px;
  height: 126px;
  font-size: 11px;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-language--highlighted {
  background: #ffffff;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-language--highlighted .language-selected {
  background: #eeeeee;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-copyright {
  color: #7c88a9;
  font-size: 12px;
  line-height: 1.5;
}

.wrap .content .gagao__footer .footer__wrap .policy .policy-copyright--highlighted .company {
  color: #7c7c7c;
  font-weight: bold;
}

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/
/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/
/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/
/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/
/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/
/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/
