<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="kakao_friends_shop" />
  <meta name="Description" content="cloning webpage for portfolio" />
  <meta name="Robots" content="noindex,nofollow" />

  <link rel="stylesheet" href="../assets/style/css/search.css" />
  <title>카카오 프렌즈샵</title>
</head>

<body>
  <div class="mobile">

    <h1 class="offscreen">
      <a href="index.html">
        <img src="../assets/img/header/logo.png" alt="KAKAO FRIENDS" />
      </a>
    </h1>

    <section class="search">
      <h1 class="offscreen">카카오 프렌즈샵 상품 및 카테고리 검색</h1>
      <div class="search__box">
        <form action="#" method="">
          <fieldset>
            <legend class="offscreen">브랜드 상품검색</legend>
            <input type="text" id="search" title="검색" />
            <a href="javascript:history.back();" class="btn__cancel" role="button">취소</a>
          </fieldset>
        </form>
      </div>
      <div class="search__category">
        <ul>
          <li><a href="../components/blank.html">전체</a></li>
          <li><a href="../components/blank.html">테마 기획전</a></li>
          <li><a href="../components/blank.html">토이</a></li>
          <li><a href="../components/blank.html">리빙</a></li>
          <li><a href="../components/blank.html">잡화</a></li>
          <li><a href="../components/blank.html">문구</a></li>
          <li><a href="../components/blank.html">의류</a></li>
          <li><a href="../components/blank.html">파자마</a></li>
          <li><a href="../components/blank.html">여행/레져</a></li>
          <li><a href="../components/blank.html">생활테크</a></li>
          <li><a href="../components/blank.html">폰 액세서리</a></li>
          <li><a href="../components/blank.html">식품</a></li>
        </ul>
      </div>
      <div class="search__contents">
        <div class="search__inner">
          <ul>
            <li>
              <a href="../components/blank.html" class="ryan"><span class="offscreen">라이언</span></a>
            </li>
            <li>
              <a href="../components/blank.html" class="appeach"><span class="offscreen">어피치</span></a>
            </li>
            <li>
              <a href="../components/blank.html" class="muzi"><span class="offscreen">무지</span></a>
            </li>
            <li>
              <a href="../components/blank.html" class="frodo"><span class="offscreen">프로도</span></a>
            </li>
            <li>
              <a href="../components/blank.html" class="neo"><span class="offscreen">네오</span></a>
            </li>
            <li>
              <a href="../components/blank.html" class="tube"><span class="offscreen">튜브</span></a>
            </li>
            <li>
              <a href="../components/blank.html" class="jayG"><span class="offscreen">제이지</span></a>
            </li>
            <li>
              <a href="../components/blank.html" class="con"><span class="offscreen">콘</span></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</body>

</html>