<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="kakao_friends_shop" />
  <meta name="Description" content="cloning webpage for portfolio" />
  <meta name="Robots" content="noindex,nofollow" />

  <link rel="icon" href="/public/kakao_favicon.ico" />
  <script src="https://kit.fontawesome.com/1a2bd2c0e3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../assets/style/css/header.css" />
  <link rel="stylesheet" href="../../assets/style/css/culture.css" />
  <link rel="stylesheet" href="../../assets/style/css/footer.css" />

  <title>카카오 문화</title>
</head>

<body>
  <div id="skip-navigation">
    <ul>
      <li><a href="#content-box">본문 바로가기</a></li>
      <li><a href="#main-gnb">메인 메뉴 바로가기</a></li>
    </ul>
  </div>

  <div class="wrap">
    <h1 class="logo">
      <a href="../../index.html">
        <img src="../../assets/img/header/kakao_logo.png" alt="KAKAO FRIENDS
                                          로고" />
      </a>
    </h1>

    <header class="header">
      <h1 class="offscreen">카카오프렌즈샵 네비게이션</h1>
      <div class="header-upper">
        <div class="gnb">
          <div class="gnb-left">
            <ul>
              <li>
                <a href="../../index.html">홈으로 이동</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <main class="content">
      <h1 class="offscreen">카카오 문화</h1>
      <div class="header__video">
        <div class="video">
          <video autoplay muted loop title="가보지 않은 길을 두려워하지 않습니다." class="myvideo">
            <source src="../../assets/data/video/video__header.mp4" type="video/mp4" />
          </video>
          <div class="offscreen">
            <strong>가보지 않은 길을 두려워하지 않습니다.</strong>
            <ul>
              <li>
                쩌렁쩌렁 울리는 여자 꼬마아이 소리에 테이블 위에 있는
                카카오프렌즈 카카오미니가 반응한다.
              </li>
              <li>도로 사거리에서 많은 자동차가 이동한다.</li>
              <li>횡단보도에서 많은 사람들이 이동한다.</li>
              <li>텍스트가 가득한 핸드폰이 스크롤 되고 있다.</li>
              <li>꼬마아기와 할머니가 카카오톡 영상통화 하고 있다.</li>
              <li>
                막 태어난 갓난아이를 찍은 영상이 카카오톡으로 전달된다.
                "아빠손녀야~"라는 메세지가 전달된다.
              </li>
              <li>
                컴퓨터 블루화면 위에 하얀텍스트 "if(kakao)"라는 문구가 보인다.
              </li>
              <li>불이 들어온 아이보리색의 천장 조명이 나타난다</li>
              <li>커피머신에서 커피원액이 유리잔으로 떨어진다.</li>
              <li>
                횡단보도를 걷는 사람들이 하늘에서 찍힌 영상, 화면이 천천이
                움직인다.
              </li>
            </ul>
          </div>
          <div class="control">
            <span class="offscreen">동영상 재생 컨트롤</span>
            <i class="fas fa-play video__play"><span class="offscreen">영상 재생</span></i>
            <i class="fas fa-stop video__stop"><span class="offscreen">영상 정지</span></i>
          </div>
        </div>
        <div class="video__title">
          <div class="video__contents">
            <span class="video__subject">존재이유</span>
            <strong class="video__subtitle">기술과 사람이 만드는 더 나은 세상</strong>
          </div>
        </div>
      </div>

      <div class="style">
        <ul>
          <li>
            <div class="kakao-style title">
              <strong class="hash">카카오스러움</strong>
              <p>카카오스럽나요? 카카오 크루는 종종 이렇게 묻곤 합니다.</p>
              <p>
                우리의 관점, 행동하는 방법, 지향하는 목표까지
                카카오스러움은<br />
                이미 우리 안에 스며들어 있습니다. 우리가 더 나은 세상을 만들기
                위해<br />
                고민하면서 자연스럽게 체득한 태도이자 본질이기 때문입니다.
              </p>
              <p>
                앞으로도 우리는 카카오스러움에서 고민을 시작하고, 답을 찾을
                것입니다.
              </p>
            </div>
          </li>

          <li>
            <div class="kakao-style road">
              <div class="kakao-style__contents">
                <div class="text">
                  <strong class="text__title">가보지 않은 길을<br />두려워 하지 않습니다</strong>
                  <span class="text__hash">willing to Venture</span>
                  <div class="text__contents">
                    <p>
                      “가보지 않은 길은 위험하잖아?”<br />
                      배는 정박해 있을 때 가장 안전하지만<br />
                      그것은 배의 존재 이유가 아닙니다.
                    </p>
                    <p>
                      가보지 않은 길은 실패의 위험이 따르지만<br />
                      우리는 개선보다 혁신의 길을 가는 사람들입니다.
                    </p>
                    <p>
                      문제 자체를 다시 정의하고<br />
                      새로운 해답을 찾는 것에 집중합니다.
                    </p>
                    <p>도전이 두렵기만 하다면 카카오를 떠날 때입니다.</p>
                  </div>
                  <span class="hash_tag">#개선아닌혁신</span>
                  <span class="hash_tag">#도전은거침없이</span>
                </div>
                <div class="media__section">
                  <div class="video">
                    <video autoplay muted loop title="존재이유 기술과 사람이 만드는 더 나은 세상" class="video__culture-card__1">
                      <source src="../../assets/data/video/video__culture-card__1.mp4" type="video/mp4" />
                    </video>
                    <div class="offscreen">
                      <strong>카카오 문화 영상</strong>
                      <ul>
                        <li>영상은 노란 배경화면이다</li>
                        <li>화살표가 하단에서 올라오며 상단을 가리킨다.</li>
                        <li>
                          화면에 검은배경의 우주에서 라이언이 "내가 먼저
                          가볼게!!" 라고 말하며 우주복을 입고 하늘을 날아간다
                        </li>
                        <li>달 표면에 찍힌 발자국이 보인다.</li>
                        <li>
                          (화면 위에서 보이는 모습) 런닝복을 입은 남자가
                          달려간다
                        </li>
                        <li>
                          (화면 위에서 보이는 모습) 귀저기를 입은 아기가
                          기어간다
                        </li>
                        <li>카카오프렌즈의 발자국이 찍힌다.</li>
                        <li>화면이 노란색에서 검은화면으로 전환된다.</li>
                      </ul>
                    </div>
                    <div class="control">
                      <span class="offscreen">동영상 재생 컨트롤</span>
                      <i class="fas fa-play video__play"><span class="offscreen">영상 재생</span></i>
                      <i class="fas fa-stop video__stop"><span class="offscreen">영상 정지</span></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="kakao-style road">
              <div class="kakao-style__contents">
                <div class="media__section">
                  <div class="video">
                    <video autoplay muted loop title="존재이유 기술과 사람이 만드는 더 나은 세상" class="video__culture-card__2">
                      <source src="../../assets/data/video/video__culture-card__2.mp4" type="video/mp4" />
                    </video>
                    <div class="offscreen">
                      <strong>카카오 문화 영상</strong>
                      <ul>
                        <li>영상은 노란 배경화면이다</li>
                        <li>화살표가 하단에서 올라오며 상단을 가리킨다.</li>
                        <li>
                          화면에 검은배경의 우주에서 라이언이 "내가 먼저
                          가볼게!!" 라고 말하며 우주복을 입고 하늘을 날아간다
                        </li>
                        <li>달 표면에 찍힌 발자국이 보인다.</li>
                        <li>
                          (화면 위에서 보이는 모습) 런닝복을 입은 남자가
                          달려간다
                        </li>
                        <li>
                          (화면 위에서 보이는 모습) 귀저기를 입은 아기가
                          기어간다
                        </li>
                        <li>카카오프렌즈의 발자국이 찍힌다.</li>
                        <li>화면이 노란색에서 검은화면으로 전환된다.</li>
                      </ul>
                    </div>
                    <div class="control">
                      <span class="offscreen">동영상 재생 컨트롤</span>
                      <i class="fas fa-play video__play"><span class="offscreen">영상 재생</span></i>
                      <i class="fas fa-stop video__stop"><span class="offscreen">영상 정지</span></i>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <strong class="text__title">무엇이든 본질만 남기고<br />처음부터 다시 생각해
                    봅니다.</strong>
                  <span class="text__hash">Back to Basic</span>
                  <div class="text__contents">
                    <p>
                      “원래 그게 당연한 거 아냐?” <br />
                      불편하고 복잡한 게 당연할 리 없습니다.<br />
                    </p>
                    <p>그래서 우리는 본질에서 출발합니다.</p>
                    <p>시작부터 다르게 질문합니다.</p>
                    <p>
                      끊임없이 ‘왜?’라는 물음을 던집니다.
                    </p>
                    <p>
                      그렇게 익숙한 것을 새롭게, 가치 있게 만듭니다.
                    </p>
                  </div>
                  <span class="hash_tag">#본질에서출발</span>
                  <span class="hash_tag">#생각에단연함없이</span>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="kakao-style road">
              <div class="kakao-style__contents">
                <div class="text">
                  <strong class="text__title">나보다 동료의 생각이<br />더 옳을 수 있다는 <br />믿음을
                    가집니다.</strong>
                  <span class="text__hash">Trust to Trust</span>
                  <div class="text__contents">
                    <p>
                      “내가 항상 정답일까?”<br />
                      개인의 완벽함에 기대기 보다 동료와 함께 완성해 나갑니다.
                    </p>
                    <p>
                      격렬한 토론과 논쟁 속에서도 서로에 대한 신뢰가 있다면<br />
                      반드시 더 나은 답을 찾을 수 있습니다.
                    </p>
                    <p>
                      신뢰를 받기 위해서 상대방을 먼저 존중하세요.
                    </p>
                    <p>
                      혼자 가면 빨리 갈 수 있지만, 함께 가면 멀리 갈 수
                      있습니다.
                    </p>
                  </div>
                  <span class="hash_tag">#신뢰충돌헌신</span>
                  <span class="hash_tag">#존중은편견없이</span>
                </div>
                <div class="media__section">
                  <div class="video">
                    <video autoplay muted loop title="존재이유 기술과 사람이 만드는 더 나은 세상" class="video__culture-card__3">
                      <source src="../../assets/data/video/video__culture-card__3.mp4" type="video/mp4" />
                    </video>
                    <div class="offscreen">
                      <strong>카카오 문화 영상</strong>
                      <ul>
                        <li>영상은 노란 배경화면이다</li>
                        <li>화살표가 하단에서 올라오며 상단을 가리킨다.</li>
                        <li>
                          화면에 검은배경의 우주에서 라이언이 "내가 먼저
                          가볼게!!" 라고 말하며 우주복을 입고 하늘을 날아간다
                        </li>
                        <li>달 표면에 찍힌 발자국이 보인다.</li>
                        <li>
                          (화면 위에서 보이는 모습) 런닝복을 입은 남자가
                          달려간다
                        </li>
                        <li>
                          (화면 위에서 보이는 모습) 귀저기를 입은 아기가
                          기어간다
                        </li>
                        <li>카카오프렌즈의 발자국이 찍힌다.</li>
                        <li>화면이 노란색에서 검은화면으로 전환된다.</li>
                      </ul>
                    </div>
                    <div class="control">
                      <span class="offscreen">동영상 재생 컨트롤</span>
                      <i class="fas fa-play video__play"><span class="offscreen">영상 재생</span></i>
                      <i class="fas fa-stop video__stop"><span class="offscreen">영상 정지</span></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="kakao-style road">
              <div class="kakao-style__contents">
                <div class="media__section">
                  <div class="video">
                    <video autoplay muted loop title="존재이유 기술과 사람이 만드는 더 나은 세상" class="video__culture-card__4">
                      <source src="../../assets/data/video/video__culture-card__4.mp4" type="video/mp4" />
                    </video>
                    <div class="offscreen">
                      <strong>카카오 문화 영상</strong>
                      <ul>
                        <li>영상은 노란 배경화면이다</li>
                        <li>화살표가 하단에서 올라오며 상단을 가리킨다.</li>
                        <li>
                          화면에 검은배경의 우주에서 라이언이 "내가 먼저
                          가볼게!!" 라고 말하며 우주복을 입고 하늘을 날아간다
                        </li>
                        <li>달 표면에 찍힌 발자국이 보인다.</li>
                        <li>
                          (화면 위에서 보이는 모습) 런닝복을 입은 남자가
                          달려간다
                        </li>
                        <li>
                          (화면 위에서 보이는 모습) 귀저기를 입은 아기가
                          기어간다
                        </li>
                        <li>카카오프렌즈의 발자국이 찍힌다.</li>
                        <li>화면이 노란색에서 검은화면으로 전환된다.</li>
                      </ul>
                    </div>
                    <div class="control">
                      <span class="offscreen">동영상 재생 컨트롤</span>
                      <i class="fas fa-play video__play"><span class="offscreen">영상 재생</span></i>
                      <i class="fas fa-stop video__stop"><span class="offscreen">영상 정지</span></i>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <strong class="text__title">스스로 몰입하고 <br />주도적으로 일합니다.</strong>
                  <span class="text__hash">Act for Yourself</span>
                  <div class="text__contents">
                    <p>
                      “왜 이 일을 할까?”<br />
                      카카오 크루라면 가장 먼저 해야 하는 질문입니다.
                    </p>
                    <p>
                      우리는 일의 원동력을 스스로 만들어냅니다.
                    </p>
                    <p>
                      내가 시켜서 하는 나의 일인거죠.
                    </p>
                    <p>
                      일에 끌려다니지 않고 끌고 가기 위해서<br />언제나 내가
                      먼저 생각하고, 질문하고, 움직입니다
                    </p>
                  </div>
                  <span class="hash_tag">#내가시킨내일</span>
                  <span class="hash_tag">#할일은스스럼없이</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="kakao-style road">
              <div class="kakao-style__contents">
                <div class="text">
                  <strong class="text__title">세상을 선하게<br />바꾸려고 노력합니다.</strong>
                  <span class="text__hash">Tech for Good</span>
                  <div class="text__contents">
                    <p>
                      “너무 거창한 이야기 아냐?”<br />
                      사회를 지속적으로 변화시킬 수 있는 가장 효율적인<br />
                      조직은 기업입니다.
                    </p>
                    <p>
                      기업은 건강한 생태계를 만들어야하는<br />
                      책임이 있습니다. 카카오 또한 사회에 의미있는 변화를<br />
                      만들기 위해 최선을 다합니다.
                    </p>
                    <p>
                      서비스 하나에도 그런 생각과 노력들이 담겨있습니다.
                    </p>
                    <p>그렇게 우리는 오늘보다 더 나은 세상을 만듭니다.</p>
                  </div>
                  <span class="hash_tag">#사회적인책임</span>
                  <span class="hash_tag">#놀라움은끊임없이</span>
                </div>
                <div class="media__section">
                  <div class="video">
                    <video autoplay muted loop title="존재이유 기술과 사람이 만드는 더 나은 세상" class="video__culture-card__5">
                      <source src="../../assets/data/video/video__culture-card__5.mp4" type="video/mp4" />
                    </video>
                    <div class="offscreen">
                      <strong>카카오 문화 영상</strong>
                      <ul>
                        <li>영상은 노란 배경화면이다</li>
                        <li>화살표가 하단에서 올라오며 상단을 가리킨다.</li>
                        <li>
                          화면에 검은배경의 우주에서 라이언이 "내가 먼저
                          가볼게!!" 라고 말하며 우주복을 입고 하늘을 날아간다
                        </li>
                        <li>달 표면에 찍힌 발자국이 보인다.</li>
                        <li>
                          (화면 위에서 보이는 모습) 런닝복을 입은 남자가
                          달려간다
                        </li>
                        <li>
                          (화면 위에서 보이는 모습) 귀저기를 입은 아기가
                          기어간다
                        </li>
                        <li>카카오프렌즈의 발자국이 찍힌다.</li>
                        <li>화면이 노란색에서 검은화면으로 전환된다.</li>
                      </ul>
                    </div>
                    <div class="control">
                      <span class="offscreen">동영상 재생 컨트롤</span>
                      <i class="fas fa-play video__play"><span class="offscreen">영상 재생</span></i>
                      <i class="fas fa-stop video__stop"><span class="offscreen">영상 정지</span></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </main>

    <footer class="footer">
      <h1 class="offscreen">카카오 프렌즈샵 쇼핑몰 정보</h1>
      <div class="footer__upper">
        <div class="brand">
          <span class="brand__title">친구들이 궁금해요? 지금바로 만나보세요!</span>
          <div class="brand__link">
            <a href="../../components/blank.html">카카오프렌즈 소개</a>
            <a href="../../components/blank.html">브랜드 스토리</a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <strong class="offscreen">카카오프렌즈 회사정보</strong>
        <div class="company">
          <div class="policy">
            <a href="../../components/blank.html">개인정보처리방침</a>
            <a href="../../components/blank.html">이용약관</a>
            <a href="../../components/blank.html">제휴문의</a>
          </div>
          <address class="info">
            <span class="info__address">카카오아이엑스 사업자등록번호:354-86-0070</span>
            <span class="info__address">통신판매업 신고번호 : 2017-서울강남-02573</span>
            <span class="info__address">대표이사 : 권승조</span>
            <span class="info__address">주소 : 서울특별시 강남구 테헤란로 521 파르나스타워, 27층</span>
            <span class="info__address">고객센터 : 1577-6263 / 평일 10시 ~ 18시</span>
            <span class="info__address">
              <a href="mailto:store@kakaofriends.com">store@kakaofriends.com</a>
            </span>
            <span class="info__address">글로벌 배송 문의 :
              <a href="mailto:global@kakaofriends.com">global@kakaofriends.com</a>
            </span>
          </address>
          <div class="contact">
            <span class="contact__copyright">
              Copyright &copy; KAKAO IX CORP.
            </span>
            <div class="contact__familySite">
              <button><span>패밀리사이트</span></button>
              <ul>
                <li>
                  <a href="https://www.daum.net/" class="daum" title="새창열림" target="_blank">다음</a>
                </li>
                <li>
                  <a href="https://brunch.co.kr/" class="brunch" title="새창열림" target="_blank">브런치</a>
                </li>
                <li>
                  <a href="https://map.kakao.com/" class="kamap" title="새창열림" target="_blank">카카오맵</a>
                </li>
                <li>
                  <a href="https://www.kakaocorp.com/service/KakaoMetro" class="kasubway" title="새창열림"
                    target="_blank">카카오지하철</a>
                </li>
                <li>
                  <a href="https://www.kakaocorp.com/service/KakaoTalk" class="katalk" title="새창열림"
                    target="_blank">카카오톡</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="../../assets/js/culture/culture.js"></script>
</body>

</html>